<div ng-controller="reporteController as rp">
    <div class="container-fluid">
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">Selección de Filtros</h3>
	    </div>
	    <div class="panel-body">

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="txtPlaca">Placa</label>
			<div class="input-group">
			    <div class="input-group-addon"><i class="fa fa-automobile text-success"></i></div>
			    <input class="form-control" ng-model="rp.Filtro.Placa"  letras-numeros id="txtPlaca"  type="text"  required    maxlength="25" >
			</div>
		    </div>
		</div>

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="cboZonaDestino">Zona </label>
			<div class="input-group">    
			    <div class="input-group-addon"><i class="fa fa-globe"></i></div>                                                                                
			    <select ng-model="rp.Filtro.Zona" class="form-control" id="cboZonaDestino" ng-options="item as  item.znNombre for item in rp.Zonas track by item.znCodigo" required></select>
			</div> 
		    </div>   
		</div>

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="txtCedula" > Cliente </label>
			<div class="input-group">    
			    <div class="input-group-addon"><i class="fa fa-user-secret text-success"></i></div>
			    <input  type="text" class="form-control" required="" ng-model="rp.Filtro.Cliente" maxlength="10" solo-numeros id="txtCedula" ng-blur="rp.ValidarIdentificacion()" >
			</div> 
		    </div>
		</div>

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="txtContrato" > Contrato </label>
			<div class="input-group">    
			    <div class="input-group-addon"><i class="fa fa-hashtag text-success"></i></div>
			    <input  type="text" class="form-control" required="" ng-model="rp.Filtro.Contrato" maxlength="10" solo-numeros id="txtContrato"  >
			</div> 
		    </div>
		</div>

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="txtConductor" >Conductor </label>
			<div class="input-group">    
			    <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
			    <input type="text" required="" class="form-control" ng-model="rp.Filtro.Conductor" id="txtConductor"  maxlength="10" ng-blur="validarIdentificacion()" solo-numeros >
			</div> 
		    </div>
		</div>

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="txtValor" >Valor Servicio </label>
			<div class="input-group">    
			    <div class="input-group-addon"><i class="fa fa-money text-success"></i></div>
			    <input  type="text" class="form-control" required="" ng-model="rp.Filtro.Valor" maxlength="10" solo-numeros id="txtValor" >
			</div> 
		    </div>
		</div>	

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="cboTipoServicio">Tipo Servicio <span>*</span></label>
			<div class="input-group">
			    <div class="input-group-addon"><i class="fa fa-check text-success"></i></div>
			    <select ng-model="rp.Filtro.TipoServicio" class="form-control" id="cboTipoServicio" ng-options="item as item.svDescripcion for item in rp.TipoServicios track by item.svCodigo" required ></select>
			</div>
		    </div>
		</div>

		<div class="col-md-3">
		    <div class="form-group">
			<label  for="cboTipoVehiculo">Tipo Vehiculo </label>
			<div class="input-group">    
			    <div class="input-group-addon"><i class="fa fa-globe"></i></div>                                                                                
			    <select ng-model="rp.Filtro.TipoVehiculo" class="form-control" id="cboTipoVehiculo" ng-options="item as  item.tvDescripcion for item in rp.TipoVehiculos track by item.tvCodigo" required></select>
			</div> 
		    </div>   
		</div>

		<div class="col-md-3 text-center">
		    <br/>
		    <div class="checkbox checkbox-success ">
			<input type="checkbox" id="chkPorFecha" ng-model="rp.Filtro.PorFecha"> 
			<label for="chkPorFecha">Por rango de Fechas</label>
		    </div>
		</div>

		<div class="col-md-2">     
                    <label>Fecha de Inicio </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-minus-o"></i></div>
                        <input type="text" id="txtFechaInicio" ng-model="rp.Filtro.FechaInicio" name="txtFechaInicio" class="form-control" value="" ng-change="rp.CambiarFormato('FechaInicio')" title="Fecha Inicio" readonly="" >
                    </div>                                                        
                </div>

                <div class="col-md-2">    
                    <label>Fecha Fin </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-plus-o"></i></div>
                        <input type="text" id="txtFechaFin" ng-model="rp.Filtro.FechaFin" name="txtFechaFin" class="form-control" value="" ng-change="rp.CambiarFormato('FechaFin')" title="Fecha Final" readonly="" >
                    </div>                                                        
                </div>

		<div class="col-md-2 col-md-offset-1 text-center">       
		    <br/>
		    <button   class="btn btn-danger btn-block btn-addon"   type="button"  title="Limpiar Filtros" ng-click="rp.Limpiar()"><i class="fa fa-pencil"></i> Limpiar</button>
		</div>
		<div class="col-md-2 text-center">
		    <br/>
		    <button   class="btn btn-primary btn-block btn-addon"   type="button"  title="Iniciar Busqueda" ng-click="rp.Buscar()"><i class="fa fa-check"></i>Buscar</button>
		</div>



	    </div>
	</div>

	<div class="row" ng-show="rp.VerConsulta">
	    <div class="col-md-12">
		<div class="panel panel-default">
		    <div class="panel-heading">Resultado Consulta</div>
		    <div class="panel-body">
			
			<div class="row">
			    <div class="col-md-12">
				<table class="table table-striped table-condensed" ng-table="rp.TablaServicio"  style="margin-top: 15px;">
				    <thead>
					<tr>
					    <th>ID</th>
					    <th>CONTRATO</th>
					    <th>RESPONSABLE</th>
					    <th>TELEFONO</th>                                            
					    <th>T.SERVICIO</th>
					    <th>T.VEHICULO</th>
					    <th>$ PRECIO</th>
					    <th>FECHA</th>
					    <th>HORA</th>
					    <th>ESTADO</th>
					    <th width="6%">ACCION</th>
					</tr>
				    </thead>

				    <tbody>
					<tr ng-repeat="item in $data"  ng-class="{'info': item.Estado == 'ASIGNADO', 'warning':  item.Estado == 'SOLICITADO' , 'success':  item.Estado != 'SOLICITADO' || item.Estado != 'ASIGNADO'  }">
					    <td>{{ item.IdServicio}}</td>
					    <td>{{ item.NumeroContrato}}</td>
					    <td>{{ item.Responsable}}</td>
					    <td >{{ item.Telefono}}</td>
					    <td>{{ item.svDescripcion}}</td>
					    <td>{{ item.DescVehiculo}}</td>                                     
					    <td >{{ item.ValorTotal | currency : "$" : 0}}</td>  
					    <td>{{ item.FechaServicio}}</td>
					    <td>{{ item.Hora}}</td>                                     
					    <td>{{ item.Estado}}</td>
					    <td>
				    <center>
					<a ng-click="VerAsignarServicio(item)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Asignar Servicio"><i class="fa fa-check fa-1x text-success"></i></a>					
				    </center>
				    </td>
				    </tr>
				    <tr ng-hide="Servicios.length">
					<td colspan="11" align="center"><h4 class="text-danger"> No se encontraron servicios solicitados.</h4></td>
				    </tr> 
				    </tbody>
				</table>
			    </div>
			</div>
			<div class="col-md-2" style="margin-top: 5px;">
				<label class="text-center text-primary" style="font-size: 18px;">Total: {{rp.Servicios.length}}</label>
			</div>
		    </div>
		</div>
	    </div>
	</div>

    </div>    
</div>

<script type="text/javascript">

            $(function () {

            $('input[name="txtFechaInicio"]').daterangepicker({
            singleDatePicker: true,
                    showDropdowns: true
            },
                    function(start, end, label) {
                    $('#txtFechaInicio').val(end.format('DD/MM/YYYY'));
                    });
                    $('input[name="txtFechaFin"]').daterangepicker({
            singleDatePicker: true,
                    showDropdowns: true
            },
                    function(start, end, label) {
                    $('#txtFechaFin').val(end.format('DD/MM/YYYY'));
                    });
            });



</script>
