<div  ng-controller="contratoController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified" id="tabPanels">
                    <li class="active"> <a href="#tabListado" data-toggle="tab">Listado de Contratos </a></li>
                    <li><a href="#tabRegistroCto" data-toggle="tab">{{title}} </a></li>
                </ul>
            </div>
            
            <div class="tab-content">
                
                <div class="tab-pane active" id="tabListado">
                    
                </div>
                
                <div class="tab-pane" id="tabRegistroCto">  
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <form name="frmContrato" novalidate>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Datos Generales</div>
                                <div class="panel-body">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label  for="txtCedula" >Identificación *</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-hashtag text-success"></i></div>
                                                 <input  type="text" class="form-control" required="" ng-model="Contrato.ctNitCliente" maxlength="11" solo-numeros id="txtCedula" placeholder="Identificación" ng-blur="validarIdentificacion()" >
                                        </div> 
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtNombre">Nombres *</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                            <input type="text"  class="form-control" required="" ng-model="Contrato.ctContratante" maxlength="100" id="txtNombre" placeholder="Nombre Completo">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTelefonoPpal">Teléfono Principal *</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-mobile text-success"></i></div>
                                            <input type="text" class="form-control" ng-model="Contrato.ctMovilPpal"  required="" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="Teléfono Principal">
                                       </div>
                                   </div>
                               </div>
                                
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label  for="txtFechaInicio">Fecha Inicio *</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar-times-o text-success"></i></div>
                                            <input type="text" id="txtFechaInicio" name="txtFechaInicio" ng-model="Contrato.ctFechaInicio" class="form-control" value=""  ng-change="CambiarFormato('ctFechaInicio')">                                                                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label  for="txtFechaFin">Fecha Finalización *</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar-times-o text-success"></i></div>
                                            <input type="text" id="txtFechaFin" name="txtFechaFin" ng-model="Contrato.ctFechaFinal" class="form-control" value=""  ng-change="CambiarFormato('ctFechaFinal')">                                                                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtDuracion">Duración *</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                            <input type="text"  class="form-control" required="" ng-model="Contrato.ctDuracion" maxlength="100" id="txtDuracion" placeholder="Duración contrato">
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">Servicios y Tarifas</div>
                                    <div class="panel-body">
                                        <div class="row">                        
                                            <div class="col-md-12">
                                                <div ng-repeat="ts in TipoServicio">
                                                    <div class="col-md-3">     
                                                        <div class="checkbox checkbox-primary">                                        
                                                             <input type="checkbox" id="ts{{ts.svCodigo}}" checklist-model="Contrato.TipoServicio" ng-change="TipoServicioCheck(ts)" checklist-value="ts">
                                                             <label for="ts{{ts.svCodigo}}">{{ts.svCodigo}}. &nbsp; {{ts.svDescripcion}}</label> 
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <h5 class="text-center text-success" style="margin-bottom: 0px;">{{titlePlantilla}}</h5>
                                        <hr style="margin-top: 1px;">
                                        <div class="row" >
                                            <div class="col-md-12">                                                
                                                <div ng-repeat="item in Plantillas">
                                                    <div class="col-md-4">     
                                                        <div class="checkbox checkbox-primary">                                        
                                                             <input type="checkbox" id="pl{{item.plCodigo}}" checklist-model="Contrato.Plantillas" ng-change="TipoPlantillaCheck(ts,checked)" checklist-value="item">
                                                             <label for="pl{{item.plCodigo}}">{{$index + 1}}. &nbsp; {{item.plDescripcion}}</label> 
                                                        </div>
                                                    </div> 
                                                </div>
                                                
                                               <!-- <table border="0" cellspacing="0" class="table table-striped" >                                                    
                                                    <tbody>
                                                        <tr ng-repeat="items in Plantillas">
                                                            <td class="center">{{ items.plCodigo}}</td>
                                                            <td>{{ items.plDescripcion }}</td>                                                            
                                                            <td>
                                                                <div class="checkbox checkbox-primary" style="margin-top: 0px; margin-bottom: 0px;">                                        
                                                                    <input type="checkbox" id="pll{{items.plCodigo}}" checklist-model="Contrato.Plantillas"  ng-change="TipoPlantillaCheck(items)" checklist-value="items">
                                                                    <label for=""></label> 
                                                                </div>
                                                            </td>                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">Formas de Pago</div>
                                    <div class="panel-body">
                                        
                                    </div>
                                </div>
                                    
                                
                                
                            </form>

                        </div>                            
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
</div>

<script>
    $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        
    });
    
    $('#tabPanels a[href="#tabRegistroCto"]').tab('show');
    
     $(function() {
        $('input[name="txtFechaInicio"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true           
        }, 
        function(start, end, label) {
            $('#txtFechaInicio').val(end.format('DD/MM/YYYY'));         
        });
        
        $('input[name="txtFechaFin"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true
        }, 
        function(start, end, label) {
            $('#txtFechaFin').val(end.format('DD/MM/YYYY'));
        });                      
        
    });
    
</script>
