<style>
    input{
        text-transform: none;
    }
</style>
<div ng-controller="serviciosController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-12">  
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified" id="tabPanels">
                    <li class="active" > <a href="#tabListado" data-toggle="tab">Listado de Servicios </a></li>
                    <li><a href="#tabRegistro" data-toggle="tab">Nuevo Servicio</a></li>                    
                </ul>
            </div>
            
            <div class="tab-content">
                <div class="tab-pane" id="tabRegistro">
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <form name="frmServicio" novalidate >
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Datos del Contrato</h3>
                                </div>
                                <div class="panel-body">
                                    
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label  for="txtNumero" >N° Contrato *</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-sort-numeric-asc text-success"></i></div>
                                            <input  type="text" class="form-control" required="" ng-model="Servicio.NumeroContrato" maxlength="11" solo-numeros id="txtNumero" placeholder="Número de Contrato"  >
                                            <span class="input-group-btn">
                                                <button class="btn btn-info btn-md "  type="button"  ng-click="BuscarContrato()" data-toggle="tooltip" data-placement="right" title="Buscar Contrato"><i class=" fa fa-search"></i></button>
                                            </span>
                                        </div> 
                                    </div>
                                </div>
                                    
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label  for="txtCedula" >Identificación </label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-hashtag text-success"></i></div>
                                            <input  type="text" class="form-control" required="" ng-model="Servicio.Nit" maxlength="11" solo-numeros id="txtCedula" placeholder="Identificación" disabled >
                                        </div> 
                                    </div>
                                </div>
                                    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtNombre">Nombre Completo </label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                            <input type="text"  class="form-control" required="" ng-model="Servicio.Nombre" maxlength="100" id="txtNombre" placeholder="Nombre Completo" disabled>
                                        </div>
                                    </div>
                                </div>                                                                                                   
                                
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="txtTelefonoPpal">Teléfono </label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-mobile text-success"></i></div>
                                            <input type="text" class="form-control" ng-model="Servicio.Telefono"  required="" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="Teléfono" disabled>
                                        </div>
                                   </div>
                                </div>
                               
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTelefonoPpal">Fecha Inicio</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-calendar-minus-o text-success"></i></div>
                                            <input type="text" class="form-control" ng-model="Servicio.FechaInicio"  required="" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="Inicio" disabled>
                                        </div>
                                   </div>
                                </div>
                               
                               <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTelefonoPpal">Feccha Vencimiento</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-calendar-times-o text-success"></i></div>
                                            <input type="text" class="form-control" ng-model="Servicio.FechaFin"  required="" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="F. Final" disabled>
                                        </div>
                                   </div>
                                </div>
                               
                               <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTelefonoPpal">Estado</label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-check text-success"></i></div>
                                            <input type="text" class="form-control" ng-model="Servicio.Estado"  required="" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="Estado" disabled>
                                        </div>
                                   </div>
                                </div>
                                    
                                <hr>
                                
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="txtResponsable">Responsable del Servicio </label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                            <input type="text"  class="form-control" required="" ng-model="Servicio.Responsable" maxlength="100" id="txtResponsable" placeholder="Responsable del servicio" >
                                        </div>
                                    </div>
                                </div>  
                                    
                                    
                                    
                                    
                                </div>
                            </div>
                            
                            
                            <div class="panel panel-default" ng-show="Servicio.TipoServicio.length">
                                <div class="panel-heading">
                                  <h3 class="panel-title">Seleccionar Servicio</h3>
                                </div>
                                <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                        <div class="row">                        
                                            <div class="col-md-12">
                                                <div ng-repeat="ts in Servicio.TipoServicio">
                                                    <div class="col-md-3">     
                                                        <div class="radio radio-danger">                                                                                                    
                                                            <input type="radio" id="ts{{ts.csCodigo}}" ng-model="Servicio.Tipo" ng-change="TipoServicioCheck()" ng-value="ts">
                                                            <label for="ts{{ts.csCodigo}}">{{$index + 1}}. &nbsp; {{ts.csDescripcion}}</label>  
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                        
                                       
                                        <div class="row">                                    
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label  for="txtOrigen">Dirección de origen *</label>     
                                                    <div class="input-group">  
                                                         <div class="input-group-addon"><i class="fa fa-street-view"></i></div>                                
                                                        <input class="form-control" ng-model="Servicio.Origen"  id="txtOrigen" type="text" required maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                                                    </div>    
                                                </div>                                
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label  for="txtDestino">Dirección de destino *</label>     
                                                    <div class="input-group">  
                                                         <div class="input-group-addon"><i class="fa fa-globe"></i></div>                                
                                                        <input class="form-control" ng-model="Servicio.Destino"  id="txtDestino" type="text" required maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                                                    </div>    
                                                </div>                                
                                            </div>
                                        </div>                                       
                                    </div>

                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="dvMapaServicio" style="width: 100%; height: 440px; margin-top: 10px;" ng-model="mapServicio">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
                
                <div class="tab-pane active" id="tabListado">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="input-group">
                                 <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                                 <input  class="form-control" id="search" type="search" placeholder="Buscar Servicio" ng-model="TablaServicio.filter()['busqueda']">
                            </div>

                        </div>
                                               
                        
                        <div class="col-md-2" style="margin-top: 5px;">
                             <label class="text-center text-primary" style="font-size: 18px;">Total: {{Servicios.length}}</label>
                         </div>
                        
                        <div class="col-md-2 col-md-offset-1">
                            <button type="button" class="btn btn-success btn-addon" ng-click="GetServicios()" ><i class="fa fa-refresh"></i> Actualizar</button>
                        </div>
                        <br/>
                        
                        
                        <div class="col-md-12">
                        <table class="table table-striped table-condensed" ng-table="TablaServicio"  style="margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CONTRATO</th>
                                    <th>RESPONSABLE</th>
                                    <th>TELEFONO</th>                                            
                                    <th>T.SERVICIO</th>
                                    <th>T.VEHICULO</th>
                                    <th>$ PRECIO</th>
                                    <th>FECHA</th>
                                    <th>HORA</th>
                                    <th>ESTADO</th>
                                    <th width="6%">ACCION</th>
                                </tr>
                            </thead>

                            <tbody>
                                 <tr ng-repeat="item in $data"  ng-class="{'info': item.Estado == 'ASIGNADO', 'warning':  item.Estado == 'SOLICITADO' , 'success':  item.Estado != 'SOLICITADO' || item.Estado != 'ASIGNADO'  }">
                                     <td>{{ item.IdServicio}}</td>
                                     <td>{{ item.NumeroContrato }}</td>
                                     <td>{{ item.Responsable}}</td>
                                     <td >{{ item.Telefono }}</td>
                                     <td>{{ item.svDescripcion}}</td>
                                     <td>{{ item.DescVehiculo}}</td>                                     
                                     <td >{{ item.ValorTotal | currency : "$" : 0}}</td>  
                                     <td>{{ item.FechaServicio}}</td>
                                    <td>{{ item.Hora}}</td>                                     
                                    <td>{{ item.Estado}}</td>
                                    <td>
                                         <center>
                                             <a ng-click="VerAsignarServicio(item)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Asignar Servicio"><i class="fa fa-check fa-1x text-success"></i></a>
                                             <a ng-click=""  style="float: left; margin-left: 7px;" href="javascript:;"  title="Cancelar"><i class="fa fa-power-off fa-1x text-warning"></i></a>                                            
                                         </center>
                                     </td>
                                 </tr>
                            </tbody>
                        </table>
                        </div>
                        
                    </div>
                    
                    <div class="modal fade bs-example-modal-sm" id="mdAsignar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 2%;">
                    <div class="modal-dialog modal-lg"  >                                   
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="modal-title">Asignación de Servicio N° {{AsigServicio.IdServicio}}</div>
                            </div>

                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <div class="panel-body" style="padding-bottom:3px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label  for="txtServiceId" >N° Servicio </label>                                                                                        
                                            <input  type="text" class="form-control" required="" ng-model="AsigServicio.IdServicio" maxlength="11"  id="txtServiceId" placeholder="N° Servicio" disabled >                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label  for="txtCto" >Contrato </label>                                                                                            
                                            <input  type="text" class="form-control" required="" ng-model="AsigServicio.NumeroContrato" maxlength="11"  id="txtCto" placeholder="N° Contrato" readonly="" >
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="txtRespon" >Responsable Servicio </label>                                                                                        
                                            <input  type="text" class="form-control" required="" ng-model="AsigServicio.Responsable" maxlength="11"  id="txtRespon" placeholder="Responsable Servcio" disabled >                                          
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label  for="txtServiceId" >Tipo: &nbsp; </label>                                                                                        
                                            <label class="text-primary">{{AsigServicio.svDescripcion}}</label>                                                                                 
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label  for="txtServiceId" >Tipo Vehiculo : &nbsp; </label>                                                                                        
                                            <label class="text-primary">{{AsigServicio.DescVehiculo}}</label>                                                                                   
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label  for="txtServiceId" >Fecha y Hora: &nbsp; </label>                                                                                        
                                            <label class="text-primary">{{AsigServicio.FechaServicio}} {{AsigServicio.Hora}}</label> 
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>   
                                
                                 <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Seleccionar Conductor</h4>
                                    </div>
                                     <div class="panel-body" style="padding-bottom:3px;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-condensed" >
                                                    <thead>
                                                        <tr>                                                           
                                                            <th>CONDUCTOR</th>                                                            
                                                            <th>TELEFONO</th>                                                                                                        
                                                            <th>DISPOSICIÓN</th>
                                                            <th>PLACA</th>
                                                            <th width="3%">SEL.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in Conductores">
                                                            <td>{{item.Nombre}}</td>
                                                            <td>{{item.TelefonoPpal}}</td>
                                                            <td>{{item.Disposicion}}</td>
                                                            <td>{{item.Placa}}</td>
                                                            <td class="text-center">
                                                                <div class="radio radio-success" style="margin-top: -1px;">                                        
                                                                    <input id="cd{{item.IdConductor}}" type="radio" ng-model="AsigServicio.Conductor"  ng-value="item">
                                                                    <label for="cd{{item.IdConductor}}"></label> 
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                        </div>
                                     </div>
                                 </div>     
                                
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-addon" data-dismiss="modal"> <i class="fa fa-ban"></i> Cancelar</button>
                                <button type="button" class="btn btn-primary btn-addon" ng-click="AsignarServicio()"><i class="fa fa-check"></i>Asignar</button>
                            </div>  

                        </div>

                    </div>
                </div>
                    
                </div>
                                                
                
            </div>            
        </div>        
    </div>                    
</div>

<script type="text/javascript">
     $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>