<style>
    input{
        text-transform: none;
    }
</style>
<div ng-controller="serviciosController"  class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h4 class="text-primary">Solicitud de servicio</h4>
            <form name="frmServicio" novalidate >
                <div class="row">                                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label  for="txtNombre1">Dirección de origen *</label>     
                            <div class="input-group">  
                                 <div class="input-group-addon"><i class="fa fa-street-view"></i></div>                                
                                <input class="form-control" ng-model="Servicio.Origen"  id="txtOrigen" type="text" required maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                            </div>    
                        </div>                                
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label  for="txtNombre1">Dirección de destino *</label>     
                            <div class="input-group">  
                                 <div class="input-group-addon"><i class="fa fa-globe"></i></div>                                
                                <input class="form-control" ng-model="Servicio.Destino"  id="txtDestino" type="text" required maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                            </div>    
                        </div>                                
                    </div>
                </div>
                
            </form>
        </div>
        
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div id="dvMapaServicio" style="width: 100%; height: 440px; margin-top: 10px;" ng-model="mapServicio">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>