<div ng-controller="clienteController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="txtNombre">Latitud </label>
                    <div class="input-group">    
                        <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                        <input type="text"  class="form-control" required="" ng-model="Latitud" maxlength="100" id="txtNombre" >
                    </div>
                </div>
            </div>                                                                                                   

            <div class="col-md-4">
                <div class="form-group">
                    <label for="txtTelefonoPpal">Longitud </label>
                    <div class="input-group">    
                        <div class="input-group-addon"><i class="fa fa-mobile text-success"></i></div>
                        <input type="text" class="form-control" ng-model="Longitud"  required=""  id="txtTelefonoPpal"  >
                    </div>
               </div>
            </div>
            <div class="col-md-2">
                <br/>
                <button type="button" ng-click="Probando()" class="btn btn-primary"> Buscar zona</button>
            </div>
        </div>
    </div>
</div>
