
/public/storage
Homestead.yaml
Homestead.json


vendor/
node_modules/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/


/cliente/dist/vendors.js
/inicio/dist/vendors.js
/conductor/dist/vendors.js
/trl/dist/vendors.js