<div ng-controller="historialController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">            
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                         <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                         <input  class="form-control" id="search" type="search" placeholder="Buscar Servicio" ng-model="TablaServicio.filter()['busqueda']">
                    </div>
                </div>
                                                                       
                <div class="col-md-2" style="margin-top: 5px;">
                     <label class="text-center text-primary" style="font-size: 18px;">Total: {{Servicios.length}}</label>
                 </div>

                <div class="col-md-2 col-md-offset-1">
                    <button type="button" class="btn btn-success btn-addon" ng-click="GetServicios()" ><i class="fa fa-refresh"></i> Actualizar</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-striped table-condensed" ng-table="TablaServicio"  style="margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CONTRATO</th>
                                    <th>RESPONSABLE</th>
                                    <th>TELEFONO</th>                                            
                                    <th>T.SERVICIO</th>
                                    <th>T.VEHICULO</th>
                                    <th>$ PRECIO</th>
                                    <th>FECHA</th>
                                    <th>HORA</th>
                                    <th>ESTADO</th>
                                    <th width="3%">ACCION</th>
                                </tr>
                            </thead>

                            <tbody>
                                 <tr ng-repeat="item in $data" ng-class="{'info': item.Estado == 'ASIGNADO', 'warning':  item.Estado == 'SOLICITADO' , 'success':  item.Estado != 'SOLICITADO' || item.Estado != 'ASIGNADO'  }">
                                     <td>{{ item.IdServicio}}</td>
                                     <td>{{ item.NumeroContrato }}</td>
                                     <td>{{ item.Responsable}}</td>
                                     <td >{{ item.Telefono }}</td>
                                     <td>{{ item.svDescripcion}}</td>
                                     <td>{{ item.DescVehiculo}}</td>                                     
                                     <td >{{ item.ValorTotal | currency : "$" : 0}}</td>  
                                     <td>{{ item.FechaServicio}}</td>
                                    <td>{{ item.Hora}}</td>                                     
                                    <td>{{ item.Estado}}</td>
                                    <td>
                                         <center>
                                             <a ng-click="" style="float: left; margin-left: 3px;" href="javascript:;"  title="Ver Conductor Asignado"><i class="fa fa-user fa-1x text-success"></i></a>
                                             <a ng-click=""  style="float: left; margin-left: 7px;" href="javascript:;"  title="Cancelar"><i class="fa fa-ban text-warning"></i></a>
                                         </center>
                                     </td>
                                 </tr>
                        </tbody>
                     </table>                   
                </div>                                        
            </div>            
        </div> 
    </div> 
    
    <div id="modalMotivo" class="modal modal-fixed-footer">            
        <div class="modal-content">
            <h2>Seleccione Motivo de Cancelación</h2>
            <div class="row">
                <form name="frmCancelar" class="col s12" novalidate>                        
                    <div class="row">                            
                        <div class="col m9">
                            <div class="row">
                                <div data-ng-repeat="items in Motivos">                                    
                                    <input name="rbMotivo"  type="radio"  id="rbMv{{items.idCancelar}}" value="{{items.idCancelar}}" ng-model="Servicio.motivo"/>
                                    <label for="rbMv{{items.idCancelar}}" class="black-text" style="font-size: 16px;">{{items.motivo}} </label> <br/>
                                </div>                               
                            </div>                               
                        </div>
                    </div>              
                </form>
            </div>
        </div>            
        <div class="modal-footer">                             
            <button class="btn waves-effect waves-light green" type="button" ng-click="cancelar()" >Continuar</button>
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red" style="margin-right: 10px;">Salir</a> 
       </div>            
    </div>        
</div>


