<div ng-controller="historialController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">

	    <div class="panel panel-default">        
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de Contratos</h3>
                </div>

		<div class="panel-body">
		    <div class="row">
			<div class="col-md-6">
			    <div class="input-group">
				<div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
				<input  class="form-control" id="search" type="search" placeholder="Buscar Servicio" ng-model="TablaServicio.filter()['busqueda']">
			    </div>
			</div>

			<div class="col-md-2" style="margin-top: 5px;">
			    <label class="text-center text-primary" style="font-size: 18px;">Total: {{Servicios.length}}</label>
			</div>

			<div class="col-md-2 col-md-offset-1">
			    <button type="button" class="btn btn-success btn-addon" ng-click="GetServicios()" ><i class="fa fa-refresh"></i> Actualizar</button>
			</div>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-12" style="margin-top: 10px;">
			<table class="table table-striped table-condensed" ng-table="TablaServicio"  style="margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CONTRATO</th>
                                    <th>RESPONSABLE</th>
                                    <th>TELEFONO</th>                                            
                                    <th>T.SERVICIO</th>
                                    <th>T.VEHICULO</th>
                                    <th>$ PRECIO</th>
                                    <th>FECHA</th>
                                    <th>HORA</th>
                                    <th>ESTADO</th>
                                    <th width="7%">ACCION</th>
                                </tr>
                            </thead>

                            <tbody>
				
				<tr ng-show="Cargando">
				    <td colspan="11" class="text-center"><span class="fa fa-spinner fa-fw fa-pulse fa-5x text-info"></span></td>
				</tr>
				
				<tr ng-repeat="item in $data" ng-class="{'info': item.Estado == 'ASIGNADO', 'warning':  item.Estado == 'SOLICITADO' || item.Estado == 'CANCELADO' , 'success':  item.Estado != 'SOLICITADO' || item.Estado != 'ASIGNADO'  }">
				    <td>{{ item.IdServicio}}</td>
				    <td>{{ item.NumeroContrato}}</td>
				    <td>{{ item.Responsable}}</td>
				    <td >{{ item.Telefono}}</td>
				    <td>{{ item.svDescripcion}}</td>
				    <td>{{ item.DescVehiculo}}</td>                                     
				    <td >{{ item.ValorTotal | currency : "$" : 0}}</td>  
				    <td>{{ item.FechaServicio | date}}</td>
                                    <td>{{ item.Hora}}</td>                                     
                                    <td>{{  (item.Estado == 'RECHAZADO' ? 'SOLICITADO' : item.Estado)}}</td>
                                    <td>
			    <center>   
				
				<div ng-if="item.Estado !== 'CANCELADO' && item.Estado !== 'FINALIZADO'" >
				    <a ng-click="EditarServicio(item)" style="float: left; margin-left: 1px;" href="javascript:;"  title="Editar Servicio"><i class="fa fa-pencil fa-1x text-info"></i></a>
				</div> 
				
				<div ng-if="item.Estado != 'ASIGNADO' && item.Estado !== 'SOLICITADO' && item.Estado !== 'CANCELADO' && item.Estado !== 'FINALIZADO'" >
				    <a ng-click="VerConductor(item)" style="float: left; margin-left: 7px;" href="javascript:;"  title="Ver Conductor Asignado"><i class="fa fa-user fa-1x text-success"></i></a>
				</div> 
				<div  ng-if="item.Estado != 'FINALIZADO' && item.Estado !== 'CANCELADO'">
				    <a  ng-click="VerCancelar(item)"  style="float: left; margin-left: 7px;" href="javascript:;"  title="Cancelar"><i class="fa fa-times fa-1x text-danger"></i></a>
				</div>
			    </center>
			    </td>
			    </tr>			   

			    <tr ng-show="Servicios.length == 0 && !Cargando">
				<td colspan="11" class="text-center text-danger " style="font-size: 18px;" ><strong>No se encontraron servicios para este usuario.</strong></td>
			    </tr>
			    </tbody>
			</table>                   
		    </div>                                        
		</div>
	    </div>
        </div> 
    </div> 

    <div class="modal fade bs-example-modal-sm" id="mdConductor" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 1%;">
        <div class="modal-dialog modal-lg"  >                                   
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title"> <h3 class="panel-title">Conductor del servicio N° {{ServicioDto.IdServicio}}</h3></div>
                </div>

                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding-bottom:3px;">
                            <div class="row">
				<div class="col-md-2">
				    <div class="form-group">
					<label  for="txtServiceId" >N° Servicio </label>                                                                                        
					<input  type="text" class="form-control" required="" ng-model="ServicioDto.IdServicio" maxlength="11"  id="txtServiceId" placeholder="N° Servicio" disabled >                                            
				    </div>
				</div>

				<div class="col-md-2">
				    <div class="form-group">
					<label  for="txtCto" >Contrato </label>                                                                                            
					<input  type="text" class="form-control" required="" ng-model="ServicioDto.NumeroContrato" maxlength="11"  id="txtCto" placeholder="N° Contrato" readonly="" >

				    </div>
				</div>

				<div class="col-md-4">
				    <div class="form-group">
					<label  for="txtRespon" >Responsable Servicio </label>                                                                                        
					<input  type="text" class="form-control" required="" ng-model="ServicioDto.Responsable" maxlength="11"  id="txtRespon" placeholder="Responsable Servcio" disabled >                                          
				    </div>
				</div>

				<div class="col-md-2">
				    <div class="form-group">
					<label  for="txtServiceId" >Tipo &nbsp; </label><br/>
					<label class="text-primary">{{ServicioDto.svDescripcion}}</label>                                                                                 
				    </div>
				</div>

				<div class="col-md-2">
				    <div class="form-group">
					<label  for="txtServiceId" >Tipo Vehiculo  &nbsp; </label>  <br/>                                                                                      
					<label class="text-primary">{{ServicioDto.DescVehiculo}}</label>                                                                                   
				    </div>
				</div>

			    </div>    
                        </div>
                    </div> 

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Datos del Conductor</h4>
                        </div>
			<div class="panel-body modal-body-fixed" style="padding-bottom:3px;">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <img  src="{{Conductor.RutaImg}}" alt="Imagen Conductor" class="img-responsive img-thumbnail"  style="max-width: 220px; max-height: 220px;">
                                </div>

                                <div class="col-md-8">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label  for="txtRespon" >Nombre Conductor </label>                                                                                        
                                            <input  type="text" class="form-control" required="" ng-model="Conductor.Nombre" maxlength="11"  id="txtRespon" placeholder="Nombre Conductor" disabled >                                          
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="txtRespon" >Telefono Principal </label>                                                                                        
                                            <input  type="text" class="form-control" required="" ng-model="Conductor.TelefonoPpal" maxlength="11"  id="txtRespon" placeholder="Telefono principal" disabled >                                          
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="txtRespon" >Telefono 2 </label>                                                                                        
                                            <input  type="text" class="form-control" required="" ng-model="Conductor.TelefonoDos" maxlength="11"  id="txtRespon" placeholder="Telefono dos" disabled >                                          
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="txtRespon" >Placa Vehículo </label>                                                                                        
                                            <input  type="text" class="form-control" required="" ng-model="Conductor.Placa" maxlength="11"  id="txtRespon" placeholder="Placa Vehículo" disabled >                                          
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="txtRespon" >Movil</label>                                                                                        
                                            <input  type="text" class="form-control" required="" ng-model="Conductor.Movil" maxlength="11"  id="txtRespon" placeholder="Movil Vehículo" disabled >                                          
                                        </div>
                                    </div>

                                </div>
                            </div>
			</div>
                    </div>

                </div>
            </div>
        </div>
    </div> 

    <div id="modalMotivo" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
        <div class="modal-dialog modal-sm" style="width: 40%" >
	    <div class="modal-content">
		<div class="modal-header">
		    <div class="modal-title">Seleccione Motivo de Cancelación</div>
		</div>            

		<div class="modal-body">                                                       
		    <div class="row">                            
			<div class="col-md-9 col-md-offset-1">
			    <div class="row">
				<div ng-repeat="mt in Motivos">                                 
				    <div class="col-md-12 radio radio-danger">
					<input name="rbMotivos" type="radio" ng-model="MotivoSel" id="rMv{{mt.IdMotivo}}"  ng-change="Ver(mt.IdMotivo)" ng-value="{{mt.IdMotivo}}" >
					<label for="rMv{{mt.IdMotivo}}" style="font-size: 16px;">{{mt.mtDescripcion}} </label>
				    </div>
				</div>                               
			    </div>                               
			</div>
		    </div>                                         
		</div>    

		<div class="modal-footer">                             
		    <button type="button" class="btn btn-danger btn-addon" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
		    <button type="button" class="btn btn-primary btn-addon" ng-click="CancelarServicio()" ><i class="fa fa-check"></i> Aceptar</button>
		</div> 

	    </div>                    
        </div>     
    </div> 


</div>


