<style>
    input{
        text-transform: none;
    }
    input:read-only { 
        background-color: #FFFFFF;
    }
    
    input[readonly]{
        background-color: #FFFFFF;
    }
    
    .file-caption{
        display: none;
    }

    
</style>
<div ng-controller="serviciosController"  class="container-fluid">
    <div id="paneldebotones" class="row text-right paneldebotones " style="position: absolute; margin-top: 30px; right: 15px; z-index: 100">
        <div class="col-xs-12" style="padding-top: 6px;">
           

            <div class="row" style="margin-bottom: 8px;" >
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-floating  btn-large editar"  ng-click="Nuevo()" title="Cancelar Operación"><i class="fa fa-times"></i></button>
                    <small class="texto">Cancelar</small>
                </div>
            </div>
            
            <div class="row" style="margin-bottom: 8px;" ng-show="Contrato.TipoServicio.length" >
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-floating  btn-large pdf"  ng-click="ConsultarPrecio()" title="Consultar valor del servicio"><i class="fa fa-usd"></i></button>
                    <small class="texto">Consultar</small>
                </div>
            </div>
            
            <div class="row" style="margin-bottom: 5px;" ng-show="Contrato.TipoServicio.length">
                <div class="col-xs-12 text-center">
                    <button type="button" ng-click="UbicacionAutomatica()" class="btn btn-floating btn-large cancelar" ng-disabled="!Asignacion.Manual" data-toggle="tooltip" data-placement="top" title="Establecer mi posición de origen"><i class="fa fa-map-marker"></i></button>
                    <small class="texto">Mi posición</small>
                </div>
                
            </div>
            

            <div class="row" style="margin-bottom: 5px;">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-floating  btn-large borrador" ng-disabled="frmServicio.$invalid"  ng-click="Validar()" title="Guardar"><i class="fa fa-check"></i></button>
                    <small class="texto">Guardar</small>
                </div>
            </div>           

        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 col-xs-12 col-lg-11">                                                     
            <form name="frmServicio" novalidate  >
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Seleccionar Contrato</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label  for="txtNumero" >N° Contrato *</label>
                            <div class="input-group">   
                                <select ng-model="ContratoSelect" class="form-control" ng-change="BuscarContrato('COMBO')" id="cboMarca" ng-options="item as item.ctNumeroContrato for item in Contratos track by item.IdContrato" required></select>
                                <!--<input  type="text" class="form-control" required="" ng-model="Servicio.NumeroContrato" maxlength="11" solo-numeros id="txtNumero" placeholder="Seleccionar Contrato"  >-->
                                <span class="input-group-btn">
                                    <button type="button"  class="btn btn-info btn-md "   ng-click="GetContratos()" data-toggle="tooltip" data-placement="right" title="Actualizar mis contratos"><i class=" fa fa-search"></i></button>
                                </span>
                            </div> 
                        </div>
                    </div>                                                                   

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtNombre">Nombre Completo </label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                <input type="text"  class="form-control" required="" ng-model="Contrato.Nombre" maxlength="100" id="txtNombre" placeholder="Nombre Completo" disabled>
                            </div>
                        </div>
                    </div> 
                        
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtFechaVen">Fecha Vencimiento</label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-calendar-times-o text-success"></i></div>
                                <input type="text" class="form-control" ng-model="Contrato.FechaFin"  required="" maxlength="10"  id="txtFechaVen" placeholder="F. Final" disabled>
                            </div>
                       </div>
                    </div>                                                       
                   
                   <!-- <div class="row">
                        <div class="col-md-2 col-md-offset-7">                                        
                            <br/>
                            <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="Nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                        </div>
                        <div class="col-md-2">
                            <!-- ng-disabled="frmVehiculo.$invalid"
                            <br/>
                            <button ng-disabled="frmServicio.$invalid"   class="btn btn-primary btn-block btn-addon"   type="button"  title="Solicitar Servicio" ng-click="Guardar()"><i class="fa fa-check"></i> Guardar</button>
                        </div>
                    </div> -->
                        
                    </div>
                </div>
                            
                            
                <div class="panel panel-default" ng-show="Contrato.TipoServicio.length">
                    <div class="panel-heading">
                      <h3 class="panel-title">Seleccionar Servicio</h3>
                    </div>
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label  for="cboTipoServicio">Tipo Servicio*</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-check text-success"></i></div>
                                            <select ng-model="Servicio.Tipo" class="form-control" id="cboTipoServicio" ng-options="item as item.csDescripcion for item in Contrato.TipoServicio track by item.csCodigo" required ng-change="TipoServicioCheck()"></select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label  for="txtFechaServicio">Fecha Servicio*</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar-check-o text-success"></i></div>
                                            <input type="text" id="txtFechaServicio" ng-model="Servicio.FechaServicio" name="txtFechaServicio" class="form-control" value="" ng-change="CambiarFormato('FechaServicio')" required readonly>                                                                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label  for="txtHora">Hora Servicio*</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-clock-o text-success"></i></div>
                                            <input type="text" id="txtHora" ng-model="Servicio.Hora" name="txtHora" class="form-control" value="" required readonly>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="col-md-3">
                                    <h2 for="txtValor" class="text-success text-center" style=" margin-top: 11%; ">{{  Servicio.Valor  | currency : "$" : 0}}</h2>
                                </div>
                                
                            </div>
                                                                                                                
                                                     
                            <div class="row" style="margin-top: -5px;">
                                
                                <div class="col-md-5">
                                    
                                    <div class="row">                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="cboNumPasajeros">N° Pasajeros *</label>     
                                            <div class="input-group">  
                                                 <div class="input-group-addon"><i class="fa fa-users"></i></div>                                
                                                 <select  class="form-control" ng-model="Servicio.NumPasajeros" id="cboNumPasajeros" placeholder="Número de pasajeros" required>                                                     
                                                     <option ng-repeat="n in [] | rango:50" value="{{n}}">{{n}}</option>
                                                 </select>
                                               <!-- <input class="form-control" ng-model="Servicio.NumPasajeros" solo-numeros id="txtNumPasajeros" type="text" required maxlength="3"  placeholder="N° Pasajeros">-->
                                            </div>    
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="cboNumHoras">N° Horas *</label>     
                                            <div class="input-group">  
                                                 <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>    
                                                 <select  class="form-control" ng-model="Servicio.NumHoras" id="cboNumHoras" placeholder="Número de Horas" ng-disabled="Servicio.Tipo.csTipoServicioId !==2" >                                                     
                                                     <option ng-repeat="n in [] | rango:20" value="{{n}}">{{n}}</option>
                                                 </select>
                                                <!-- <input class="form-control" ng-model="Servicio.NumHoras" solo-numeros id="txtNumHoras" ng-disabled="Servicio.Tipo.csTipoServicioId !==2" type="text" required maxlength="3"  placeholder="Horas">-->
                                            </div>    
                                        </div> 
                                    </div>
                                        
                                    <div class="col-md-8">    
                                        <div class="form-group">
                                            <label  for="txtTipoVehiculo" >Tipo de Vehículo *</label>
                                            <div class="input-group">   
                                                <div class="input-group-addon"><i class="fa fa-gitlab"></i></div>
                                                <select ng-model="TipoSelect" class="form-control"  id="txtTipoVehiculo" ng-options="item as item.tvDescripcion for item in Contrato.TipoVehiculo track by item.tvCodigo" required ng-change="CambiarPrecio()"></select>
                                            </div> 
                                        </div>
                                    </div>
                                        
                                    <div class="col-md-4">    
                                        <div class="form-group">     
                                            <br>
                                            <button type="button" class="btn btn-primary btn-block btn-addon" style="margin-top: 4%; " ng-click="ConsultarPrecio()" title="Consultar valor del servicio"><i class="fa fa-usd" style="margin-right: 7px;"></i>Consultar</button>
                                        </div>
                                    </div>
                                        
                                    </div> 
                                    
                                    <div class="row">
                                        
                                        <ul class="first col-md-offset-1">
                                            <li>
                                                <img  src="{{TipoSelect.tvRuta}}" alt="Tipo Vehículo"   style="max-height: 220px; max-width:  220px;" title="Click, para ampliar imagen">
                                                <div class="text" style="font-size: 5px;">{{TipoSelect.tvDescripcion}}</div>
                                            </li>
                                        </ul>                                                                                                                       
                                    </div>
                                    
                                </div>
                                
                                <div class="col-md-7">
                                    <!-- "-->
                                    <div ng-show="Servicio.Tipo.csTipoServicioId ==1">
                                     
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" id="chkAsignacion" ng-model="Asignacion.Manual" ng-true-value="true" ng-false-value="false">
                                                <label for="chkAsignacion">Asignación Manual</label> 
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4" ng-show="Asignacion.Manual" data-toggle="tooltip" data-placement="top" title="Establecer mi posición de origen en el mapa.">
                                            <div class="radio radio-success">
                                                <input type="radio" id="rdAsignacion1" ng-model="Asignacion.Marcador" value="Origen" >
                                                <label for="rdAsignacion1">Posición Origen</label> 
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4" ng-show="Asignacion.Manual" data-toggle="tooltip" data-placement="top" title="Establecer mi posición de destino en el mapa.">
                                            <div class="radio radio-danger">
                                                <input type="radio" id="rdAsignacion2" ng-model="Asignacion.Marcador" value="Destino" >
                                                <label for="rdAsignacion2">Posición Destino</label> 
                                            </div>
                                        </div>
                                        
                                    </div>
                                         
                                        
                                    <div class="row" ng-show="!Asignacion.Manual">                                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label  for="txtOrigen">Dirección de origen *</label>     
                                                <div class="input-group">  
                                                     <div class="input-group-addon"><i class="fa fa-street-view"></i></div>                                
                                                    <input class="form-control" ng-model="Servicio.DireccionOrigen"  id="txtOrigen" type="text"  maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                                                </div>    
                                            </div>                                
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label  for="txtDestino">Dirección de destino *</label>     
                                                <div class="input-group">  
                                                     <div class="input-group-addon"><i class="fa fa-globe"></i></div>                                
                                                    <input class="form-control" ng-model="Servicio.DireccionDestino"  id="txtDestino" type="text"  maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                                                </div>    
                                            </div>                                
                                        </div>
                                    </div>
                                    
                                    <div class="row" ng-show="Asignacion.Manual">                                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label  for="txtOrigenManual">Dirección de origen *</label>     
                                                <div class="input-group">  
                                                     <div class="input-group-addon"><i class="fa fa-street-view"></i></div>                                
                                                    <input class="form-control" ng-model="Servicio.DireccionOrigen"  id="txtOrigenManual" type="text"  maxlength="255"  placeholder="Ingresa tu Dirección de origen">                                              
                                                </div>    
                                            </div>                                
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label  for="txtDestinoManual">Dirección de destino *</label>     
                                                <div class="input-group">  
                                                     <div class="input-group-addon"><i class="fa fa-globe"></i></div>                                
                                                    <input class="form-control" ng-model="Servicio.DireccionDestino"  id="txtDestinoManual" type="text"  maxlength="255"  placeholder="Ingresa tu Dirección de destino">
                                                </div>    
                                            </div>                                
                                        </div>
                                    </div>
                                        
                                        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="dvMapaServicio" style="width: 100%; height: 280px; margin-top: 10px; "  class="hidden">

                                            </div>
                                        </div>
                                    </div>  
                                        
                                    </div>    
                                    
                                </div>
                            </div>
                                                                                                                                                                                                                                                                                                                                            
                        </div>                       
                    </div>                                  
                    </div>
                </div>
                
                <div class="panel panel-default" ng-show="Contrato.TipoServicio.length">
                    <div class="panel-heading">
                        <h3 class="panel-title">Responsable / nota de servicio</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px">
                        <div class="row">                            
                            <div class="col-md-7">
                                <div class="col-md-10">
                                <div class="form-group">
                                    <label for="txtResponsable">Responsable del Servicio* </label>
                                    <div class="input-group">    
                                        <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                        <input type="text"  class="form-control" required="" ng-model="Servicio.Responsable" maxlength="100" id="txtResponsable" placeholder="Responsable del servicio" >
                                    </div>
                                </div>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtTelefonoPpal">Teléfono </label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-mobile text-success"></i></div>
                                            <input type="text" class="form-control" ng-model="Servicio.Telefono"  required="" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="Teléfono" >
                                        </div>
                                   </div>
                                </div>                                                               
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtNota">Nota del Servicio </label>                                                                            
                                        <textarea class="form-control" rows="4" id="txtNota" ng-model="Servicio.Nota" placeholder="Nota o descripción del servicio" maxlength="250"></textarea>

                                   </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-7" style="min-height: 306px;">
                
                <div class="panel panel-default" ng-show="Contrato.TipoServicio.length">
                    <div class="panel-heading">
                      <h3 class="panel-title">Paradas</h3>
                    </div>
                    <div class="panel-body">                                   
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label  for="txtParada">Dirección de parada *</label>     
                                    <div class="input-group">  
                                         <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>                                
                                        <input class="form-control" ng-model="Parada.prDireccion"  id="txtParada" type="text"  maxlength="255"  placeholder="Ingresar dirección de parada">                                              
                                    </div>    
                                </div>                                
                            </div>
                            <div class="col-md-4">                                        
                                <br/>
                                <button   class="btn btn-success btn-block btn-addon" style="margin-top: 4px;"  type="button"  title="Agregar Parada" ng-click="AgregarParada()"><i class="fa fa-plus"></i>Agregar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>DIRECCIÓN</td>
                                            <td>VALOR</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="items in Servicio.Paradas">
                                            <td>{{$index + 1}}</td>
                                            <td>{{items.prDireccion}}</td>
                                            <td>{{items.prValor | currency : "$ " : 0 }}</td>
                                            <td>
                                                <a ng-click="QuitarParada($index)"  href="javascript:;"  title="Quitar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-right">SubTotal</td>
                                            <td class="text-danger"><strong>{{TotalParada() | currency : "$ " : 0}}</strong></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>                                                                            
                    </div>
                </div>
                </div>
                
                <div class="col-md-5">
                <div class="panel panel-default" ng-show="Contrato.TipoServicio.length">
                    <div class="panel-heading">
                      <h3 class="panel-title">Valor Total  / Pago</h3>
                    </div>
                    <div class="panel-body">                    
                        
                        <div class="row">
                            <div class="col-md-4">
                                <label  for="cboPago" style="margin-top: 10px;">Form de Pago *</label>
                            </div>

                            <div class="col-md-8">                                                                                                    
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-check-circle-o text-success"></i></div>
                                    <select class="form-control" id="cboPago" ng-model="Servicio.FormaPago" required>
                                        <option ng-repeat="fp in Contrato.FormaPago" value="{{fp}}">{{fp}}</option>
                                    </select>
                                </div>                                                                                                
                            </div>                          
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4">                               
                                <label class="text-right" style="margin-top: 10px;" >Valor Servicio * </label>
                            </div>
                            <div class="col-md-8">
                                <h3 for="txtValor" class="text-success text-right" style=" margin-top: 3px; ">{{  Servicio.Valor  | currency : "$" : 0}}</h3>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">                               
                                <label class="text-right" style="margin-top: 10px;" >Total Paradas * </label>
                            </div>
                            <div class="col-md-8">
                                <h3 class="text-danger text-right" style=" margin-top: 3px; ">{{  Subtotal | currency : "$" : 0}}</h3>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">                               
                                <label class="text-right" style="margin-top: 10px;" >Total Servicio * </label>
                            </div>
                            <div class="col-md-8">
                                <h2 class="text-primary text-right" style=" margin-top: 3px; ">{{  Servicio.ValorTotal | currency : "$" : 0}}</h2>
                            </div>
                        </div>
                        
                    </div>    
                </div>
                </div>
                </div>
            </form>
            <div class="modal fade bs-example-modal" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                <div class="modal-dialog modal-lg" style=" width: 40%">                                   
                    <div class="modal-content">

                        <div class="modal-header">
                            <div class="modal-title">Confirmación de Servicio</div>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <br/>
                                   <a target="_blank" href="">Ver condiciones de servicio</a>
                                   <br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                     
                                    <div class="checkbox checkbox-primary">                                        
                                        <input type="checkbox" id="chkCondicion" ng-model="AceptarCondicion">
                                        <label for="chkCondicion">He leido y acepto las condiciones de servicio.</label> 
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="enviando" >
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <i class="fa fa-spinner fa-pulse fa-fw fa-3x text-primary"></i><br/>
                                        <label>Espere por favor .. procesando información</label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-addon" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                            <button type="button" class="btn btn-primary btn-addon" ng-click="Guardar()" ng-disabled="!AceptarCondicion"><i class="fa fa-check"></i> Aceptar</button>
                        </div>  

                    </div>

                </div>
            </div>
        </div>
    </div>                    
</div>
<script type="text/javascript">    
     $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    
    $(function () {
        $('input[name="txtFechaServicio"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: new Date()
        }, 
        function(start, end, label) {
            $('#txtFechaServicio').val(end.format('DD/MM/YYYY'));         
        });
        
        
        $('[data-toggle="tooltip"]').tooltip();
    });
    
    $(document).ready(function() {
         
        $('#txtHora').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            default: 'now'              
        });

        var hora;
        $('#txtHora').change(function (){
            hora = moment(this.value, "h:mm a");
            $('#txtHora').val(hora.format("h:mm a"));
        });  
        
        $('ul.first').bsPhotoGallery({
          "classes" : "col-lg-10 col-md-10 col-sm-10 col-xs-10 col-xxs-12",
          "hasModal" : true,
          "fullHeight" : true
        });
                                  
    });
    
    $(function () {
        var $win = $(window);        
        var $pos = 120;
        $win.scroll(function () {
            if ($win.scrollTop() <= $pos)
                $('.paneldebotones').removeClass('fijar');
            else {
                $('.paneldebotones').addClass('fijar');
            }
        });
    });
                
</script>
