<div ng-controller="servicioController" class="contenedor">   
    <div class="row white">
        <div class="col s12 z-depth-1">           
            <div class="row">
                <br/>
                <div class="col s8">
                    <h2>Solicitar Servicio</h2> 
                </div>                    
                <div class="col s2">
                    <a class="btn-floating btn-small waves-effect waves-light red" title="Mi Posición" href="javascript:void(0)" ng-click="ubicacionAutomatica()" style="margin-right: 10px;">
                        <i class="mdi-maps-my-location">add</i></a>
                    <a class="btn-floating btn-small waves-effect waves-light amber accent-4" title="Direcciones Favoritas" href="javascript:void(0)" ><i class="mdi-action-event">add</i></a>
                </div>               
            </div>
            
            <div class="row">
                <div class="col s8">
                   <!-- <a style="z-index: 10; position: absolute;  float: right; margin-top: 10px; margin-left: 45%" class="btn-floating btn-small waves-effect waves-light red" title="Mi Posición" href="javascript:void(0)" ng-click="ubicacionAutomatica()">
                        <i class="mdi-maps-my-location">add</i></a>-->
                    <div id="map" style="width: 100%;height: 500px;">                       
                        
                    </div>
                   
                </div>
                
                <div class="col s4">
                    <form  name="frmServicio" id="frmServicio" novalidate>
                        <input ng-model="Servicio.latitud"  id="txtLatitud" type="hidden" required>
                        <input ng-model="Servicio.longitud"  id="txtLongitud" type="hidden" required > 
                        
                        <!--<div class="row">
                            <label style="margin-left: 1rem; font-weight: normal; font-size: 11px; ">UBICACION &nbsp;</label> 
                            <div class="col s12">

                                <input name="rbUbicacion"  type="radio"  id="rbDirNO" value="actual" ng-model="Servicio.ubicacion"/>
                                <label for="rbDirNO" class="black-text">Actual (Navegador) </label>              

                                <input name="rbUbicacion" type="radio" id="rbDirSI" value="global"  ng-model="Servicio.ubicacion" checked/>
                                <label for="rbDirSI" class="black-text">Predeterminada</label>

                            </div>                               
                        </div>-->                                                                                                                   
                    
                        
                        
                        <div class="row" >
                            <div class="input-field col s12">
                                <input type="text" id = "txtDireccion" ng-model="Servicio.direccion" required maxlength="30" placeholder="Dirección">
                                <label class="active" for="txtDireccion" >DIRECCIÓN</label>
                            </div>                            
                        </div>
                    
                    <!--<label class="active" for="cboDireccion" style="margin-left: 1rem; margin-top: -10px; font-weight: normal; font-size: 11px; ">DIRECCIÓN</label>-->
                    <div class="row" style="margin-top: -10px; margin-bottom: 5px; display: none">
                        <div class="input-field col s4">                                
                            <select ng-model="Servicio.dir0" name="cboCiudad" id="cboCiudad" style="width: 112%" class="browser-default"  required  ng-change="direccion()">                                            
                                <option value="Carrera">Cra</option>    
                                <option value="Calle">Cll</option> 
                                <option value="Diagonal">Diag</option>                                
                                <option value="Transversal">Tranv</option>
                                <option value="Avenida">Av</option> 
                                <option value="Vía">Vía</option> 
                            </select>                               
                        </div>

                        <div class="input-field col s3">
                            <input ng-model="Servicio.dir1" name="txtDir1"  id="txtDir1" type="text" required ng-keyup="direccion()" maxlength="8" >
                            <div class="error" ng-show="frmServicio.txtDir1.$dirty && frmServicio.txtDir1.$invalid">
                                <small ng-show="frmServicio.txtDir1.$error.required">Requerido</small>
                            </div>
                        </div>

                        <div class="input-field col s3">                                 
                            <input ng-model="Servicio.dir2" name="txtDir2" id="txtDir2" type="text" required ng-keyup="direccion()" maxlength="8">
                             <label class="active" for="txtDir2">##</label>
                             <div class="error" ng-show="frmServicio.txtDir2.$dirty && frmServicio.txtDir2.$invalid">
                                <small ng-show="frmServicio.txtDir2.$error.required">Requerido</small>
                            </div>
                        </div>

                        <div class="input-field col s2">
                            <input ng-model="Servicio.dir3"  name="txtDir3" id="txtDir3" type="text" required ng-keyup="direccion()" maxlength="4">  
                            <label class="active" for="txtDir2">--</label>
                            <div class="error" ng-show="frmServicio.txtDir3.$dirty && frmServicio.txtDir3.$invalid">
                                <small ng-show="frmServicio.txtDir3.$error.required">Requerido</small>
                            </div>
                        </div>
                    </div>
                                                            
                        <div class="row" style="margin-top: -20px">                            
                            <div class="input-field col s4">                                
                                <select ng-model="Servicio.dir4"  id="cboDir4" style="width: 112%" class="browser-default"  ng-change="direccionOP()" >                                            
                                    <option value=""></option>
                                    <option value="APTO">Apto</option>    
                                    <option value="CASA">Casa</option> 
                                    <option value="EDIFICIO">Edificio</option> 
                                    <option value="BLOQUE">Bloque</option> 
                                    <option value="CLINICA">Clinica</option>  
                                </select>                               
                            </div>

                            <div class="input-field col s8">
                                <input ng-model="Servicio.dir5"  id="txtDir5" type="text" ng-keyup="direccionOP()">
                            </div>                                                       
                        </div>
                    
                        <div class="row">
                            <div class="input-field col s12">                                
                                <select ng-model="Servicio.ciudad" name="cboCiudad" id="cboCiudad" style="width: 101%" class="browser-default"  required >                                            
                                    <option ng-repeat="itemc in $parent.vecCiudad" value="{{itemc}}"> {{itemc}}</option>                                    
                                </select>
                                <label class="active" for="cboCiudad">CIUDAD *</label>
                                <div class="error" ng-show="frmServicio.cboCiudad.$dirty && frmServicio.cboCiudad.$invalid">
                                    <small ng-show="frmServicio.cboCiudad.$error.required">Ciudad es Requerida</small>
                                </div>
                            </div>
                        </div>
                    
                    <div class="row">
                        <div class="col s12">                            
                            <input type="checkbox" id="chkDireccion"  class="right" ng-model="Servicio.guardarDir"/>
                            <label for="chkDireccion" class="left">Guardar Dirección</label>                                                        
                        </div>
                    </div>
                    
                    <div class="row" ng-show="Servicio.guardarDir">
                        <div class="col s12">                           
                            <label for="txtLugar" class="active">Nombre Lugar</label>
                            <input ng-model="Servicio.lugar"  id="txtLugar" name="txtLugar" type="text">                             
                        </div>
                    </div>
                                       
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea ng-model="Servicio.descripcion" id="txtDescripcion" maxlength="200" rows="1" placeholder="Observaciones .. No debe pasar de 200 Caracteres"></textarea>
                            <label class="active" for="txtDescripcion">DESCRIPCION </label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12">                                
                            <button ng-disabled="frmServicio.$invalid" class="btn waves-effect waves-light red" style="display: block; width: 100%" type="button" title="Pedir Taxi" ng-click="registrar()">
                                <i class="mdi-content-send right"></i>PEDIR TAXI
                            </button> 
                        </div>
                    </div> 
                    </form>                    
                </div>               
            </div>
        </div>
   </div>
</div>
<script>
    var alto = $(window).height();
    document.getElementById("map").style.height = alto-200+"px";
 </script>

