<style>
    input{
        text-transform: none;
    }
    input:read-only { 
        background-color: #FFFFFF;
    }
    
    input[readonly]{
        background-color: #FFFFFF;
    }

    
</style>
<div ng-controller="serviciosController"  class="container-fluid">
    <div class="row">
        <div class="col-md-12">                                                     
            <form name="frmServicio" novalidate  >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos del Contrato</h3>
                    </div>
                    <div class="panel-body">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label  for="txtNumero" >N° Contrato *</label>
                            <div class="input-group">   
                                <select ng-model="ContratoSelect" class="form-control" ng-change="BuscarContrato('COMBO')" id="cboMarca" ng-options="item as item.ctNumeroContrato for item in Contratos track by item.IdContrato" required></select>
                                <!--<input  type="text" class="form-control" required="" ng-model="Servicio.NumeroContrato" maxlength="11" solo-numeros id="txtNumero" placeholder="Seleccionar Contrato"  >-->
                                <span class="input-group-btn">
                                    <button type="button"  class="btn btn-info btn-md "   ng-click="GetContratos()" data-toggle="tooltip" data-placement="right" title="Actualizar mis contratos"><i class=" fa fa-search"></i></button>
                                </span>
                            </div> 
                        </div>
                    </div>                                                                   

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtNombre">Nombre Completo </label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                <input type="text"  class="form-control" required="" ng-model="Contrato.Nombre" maxlength="100" id="txtNombre" placeholder="Nombre Completo" disabled>
                            </div>
                        </div>
                    </div>                                                                                                   

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="txtTelefonoPpal">Teléfono </label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-mobile text-success"></i></div>
                                <input type="text" class="form-control" ng-model="Servicio.Telefono"  required="" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="Teléfono" >
                            </div>
                       </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtFechaInicio">Fecha Inicio</label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-calendar-minus-o text-success"></i></div>
                                <input type="text" class="form-control" ng-model="Contrato.FechaInicio"  required="" maxlength="10"  id="txtFechaInicio" placeholder="Inicio" disabled>
                            </div>
                       </div>
                    </div>

                   <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtFechaVen">Fecha Vencimiento</label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-calendar-times-o text-success"></i></div>
                                <input type="text" class="form-control" ng-model="Contrato.FechaFin"  required="" maxlength="10"  id="txtFechaVen" placeholder="F. Final" disabled>
                            </div>
                       </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtEstado">Estado</label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-check text-success"></i></div>
                                <input type="text" class="form-control" ng-model="Contrato.Estado"  required="" maxlength="10"  id="txtEstado" placeholder="Estado" disabled>
                            </div>
                       </div>
                    </div>
                        
                    <div class="col-md-3">
                        <div class="form-group">
                            <h2 for="txtValor" class="text-primary text-center">{{Servicio.Valor  | currency : "$" : 0}}</h2>
                       </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-md-2 col-md-offset-7">                                        
                            <br/>
                            <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="Nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                        </div>
                        <div class="col-md-2">
                            <!-- ng-disabled="frmVehiculo.$invalid" -->
                            <br/>
                            <button ng-disabled="frmServicio.$invalid"   class="btn btn-primary btn-block btn-addon"   type="button"  title="Solicitar Servicio" ng-click="Guardar()"><i class="fa fa-check"></i> Guardar</button>
                        </div>
                    </div>
                        
                    </div>
                </div>
                            
                            
                <div class="panel panel-default" ng-show="Contrato.TipoServicio.length">
                    <div class="panel-heading">
                      <h3 class="panel-title">Seleccionar Servicio</h3>
                    </div>
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label  for="txtFechaServicio">Fecha Servicio*</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar-check-o text-success"></i></div>
                                            <input type="text" id="txtFechaServicio" ng-model="Servicio.FechaServicio" name="txtFechaServicio" class="form-control" value="" ng-change="CambiarFormato('FechaServicio')" required readonly>                                                                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label  for="txtHora">Hora Servicio*</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-clock-o text-success"></i></div>
                                            <input type="text" id="txtHora" ng-model="Servicio.Hora" name="txtHora" class="form-control" value="" required readonly>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="txtResponsable">Responsable del Servicio* </label>
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-user text-success"></i></div>
                                            <input type="text"  class="form-control" required="" ng-model="Servicio.Responsable" maxlength="100" id="txtResponsable" placeholder="Responsable del servicio" >
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">       
                                <div class="col-md-2">
                                    <label style="margin-top: 10px;">Tipo de Servicio</label>
                                </div>
                                <div class="col-md-10">
                                    <div ng-repeat="ts in Contrato.TipoServicio">
                                        <div class="col-md-3">     
                                            <div class="radio radio-danger">                                                                                                    
                                                <input type="radio" id="ts{{ts.csCodigo}}" ng-model="Servicio.Tipo" ng-change="TipoServicioCheck()" ng-value="ts">
                                                <label for="ts{{ts.csCodigo}}">{{$index + 1}}. &nbsp; {{ts.csDescripcion}}</label>  
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                            <hr>
                            
                            <div class="row">
                                
                                <div class="col-md-5">
                                    
                                    <div class="row">                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="txtNumPasajeros">N° Pasajeros *</label>     
                                            <div class="input-group">  
                                                 <div class="input-group-addon"><i class="fa fa-users"></i></div>                                
                                                <input class="form-control" ng-model="Servicio.NumPasajeros" solo-numeros id="txtNumPasajeros" type="text" required maxlength="3"  placeholder="N° Pasajeros">                                              
                                            </div>    
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label  for="txtNumHoras">N° Horas *</label>     
                                            <div class="input-group">  
                                                 <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>                                
                                                 <input class="form-control" ng-model="Servicio.NumHoras" solo-numeros id="txtNumHoras" ng-disabled="Servicio.Tipo.csTipoServicioId !==2" type="text" required maxlength="3"  placeholder="Horas">
                                            </div>    
                                        </div> 
                                    </div>
                                        
                                    <div class="col-md-8">    
                                        <div class="form-group">
                                            <label  for="txtTipoVehiculo" >Tipo de Vehículo *</label>
                                            <div class="input-group">   
                                                <div class="input-group-addon"><i class="fa fa-gitlab"></i></div>
                                                <select ng-model="TipoSelect" class="form-control"  id="txtTipoVehiculo" ng-options="item as item.tvDescripcion for item in Contrato.TipoVehiculo track by item.tvCodigo" required></select>
                                            </div> 
                                        </div>
                                    </div>
                                        
                                    <div class="col-md-4">    
                                        <div class="form-group">     
                                            <br>
                                            <button type="button" class="btn btn-primary btn-block" style="margin-top: 4%;" ng-click="ConsultarPrecio()">Consultar Precio</button>
                                        </div>
                                    </div>
                                        
                                    </div> 
                                    
                                    <div class="row">
                                    
                                        <div class="col-md-10 col-md-offset-1">
                                            <div>
                                                <img  src="{{TipoSelect.tvRuta}}" alt="Tipo Vehículo" class="img-responsive img-thumbnail text-centers" style="height: 220px; width: 220px;" >
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                                
                                <div class="col-md-7">
                                    <div ng-show="Servicio.Tipo.csTipoServicioId ==1">
                                    <div class="row">                                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label  for="txtOrigen">Dirección de origen *</label>     
                                                <div class="input-group">  
                                                     <div class="input-group-addon"><i class="fa fa-street-view"></i></div>                                
                                                    <input class="form-control" ng-model="Servicio.DireccionOrigen"  id="txtOrigen" type="text"  maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                                                </div>    
                                            </div>                                
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label  for="txtDestino">Dirección de destino *</label>     
                                                <div class="input-group">  
                                                     <div class="input-group-addon"><i class="fa fa-globe"></i></div>                                
                                                    <input class="form-control" ng-model="Servicio.DireccionDestino"  id="txtDestino" type="text"  maxlength="255"  placeholder="Ingresa tu ubicación">                                              
                                                </div>    
                                            </div>                                
                                        </div>
                                    </div>
                                        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="dvMapaServicio" style="width: 100%; height: 280px; margin-top: 10px;" ng-model="mapServicio">

                                            </div>
                                        </div>
                                    </div>  
                                        
                                    </div>    
                                    
                                </div>
                            </div>
                                                                                                                                                                                                                                                                                                                                            
                        </div>                       
                    </div>                                  
                    </div>
                </div>
            </form>
        </div>
    </div>                    
</div>

<script type="text/javascript">
     $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    
    $(function () {
        $('input[name="txtFechaServicio"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true           
        }, 
        function(start, end, label) {
            $('#txtFechaServicio').val(end.format('DD/MM/YYYY'));         
        });
        
        
        $('[data-toggle="tooltip"]').tooltip();
    });
    
    $(document).ready(function() {
         
        $('#txtHora').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            default: 'now'              
        });

        var hora;
        $('#txtHora').change(function (){
            hora = moment(this.value, "h:mm a");
            $('#txtHora').val(hora.format("h:mm a"));
        });                                                           
          
                        
    });
    
    
        
</script>