<div ng-controller="cambiarClaveController" class="row">
    <div class="decoration-head"></div>
    <div class="resplandor"></div>
    <div id="logo" class="animated bounceIn"></div>    
    <div id="contenedor-login" class="animated bounceInRight">
        <h2>Cambiar Contraseña</h2>
        <form name="frmCambiar" novalidate autocomplete="off" ng-show="editMode">            
            <table width="100%" align="center" >
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="User.clave" class="box-text pass" placeholder="Nueva Contraseña *"  type="password" name="txtClave1"  maxlength="15" required ng-pattern="/(?=^.{5,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/">                        
                        <div class="error" ng-show="frmCambiar.txtClave1.$dirty && frmCambiar.txtClave1.$invalid">
                            <small ng-show="frmCambiar.txtClave1.$error.required">Contraseña es Requerida</small>
                            <small  ng-show="frmCambiar.txtClave1.$error.pattern">Minimo 6 Caracteres[Numeros y Letras]</small>
                        </div>                    
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <input ng-model="User.claveConf" class="box-text pass"  type="password" name="txtClave2" placeholder="Confirmar Contraseña"  maxlength="15" required ng-pattern="/(?=^.{5,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/" >                        
                        <div class="error" ng-show="frmCambiar.txtClave2.$dirty && frmCambiar.txtClave2.$invalid">
                            <small ng-show="frmCambiar.txtClave2.$error.required">Contraseña es Requerida</small>
                            <small  ng-show="frmCambiar.txtClave2.$error.pattern">Minimo 5 Caracteres[Numeros y Letras]</small>
                        </div>                        
                    </td>
                </tr>
                <tr>
                   <td><p class="error" id="error" style="font-size: 15px; margin-top: 5px;">{{msjError}}</p></td>
               </tr>
               <tr>
                   <td>
                       <button type="button" class="btn-iniciar z-depth-1" ng-disabled="frmCambiar.$invalid" ng-click="guardar()"  id="login" title="Cambiar Contraseña">
                            Guardar
                        </button>  
                   </td>
               </tr>
               <tr>
                   <td>
                       <br/><br/>
                       <p class="notas">
                           <strong> INTRUCCIONES</strong><br/>
                            1.Ingrese una Nueva Contraseña <br/>
                            2.Confirme la  Nueva Contraseña <br/>
                            3.Se le enviará un correo electronico, notificandole el estado de este Proceso<br/>
                            <strong>Nota:</strong> Recuerde que la Contraseña debe tener Caracteres Alfanumerios [A-Z] [0-9]</p>
                       </p>
                   </td>
               </tr>
            </table>            
        </form>
        
        <table width="100%" align="center" ng-hide="editMode">
            <tr>
                <td>
                    <br/>              
                    <p class="error" id="error" style="font-size: 18px; margin-top: 5px;">{{msjKey}}</p>
                </td>
            </tr>
        </table>        
    </div>        
</div>