<div ng-controller="conductorController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-12">            
            <form name="frmConductor" id="frmConductor" novalidate>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                           <label for="txtCedula">Cédula *</label>
                          <div class="input-group">    
                            <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                            <input type="text" class="form-control" ng-model="Conductor.Cedula" id="txtCedula" placeholder="Identification">
                          </div> 
                        </div>
                    </div>
                    
                     <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtNombre">Nombres *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="text" class="form-control" ng-model="Conductor.Nombre" id="txtNombre" placeholder="Nombre Completo">
                            </div>
                        </div>
                    </div>
                    
                      <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefonoPpal">Teléfono Principal *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                <input type="text" class="form-control" ng-model="Conductor.TelefonoPpal" id="txtTelefonoPpal" placeholder="Main Phone">
                     
                             </div>
                        </div>
                    </div>
                    

                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtDireccion">Dirección *</label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                <input type="text" class="form-control" ng-model="Conductor.Direccion" id="txtDireccion" placeholder="Address">
                        
                            </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefono2">Móvil</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input type="text" class="form-control" ng-model="Conductor.TelefonoDos" id="txtTelefonoDos" placeholder="Mobile">
                             </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefono3">Teléfono</label>
                            <div class="input-group">    
                               <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                               <input type="text" class="form-control" ng-model="Conductor.TelefonoTres" id="txtTelefonoTres" placeholder="Phone">
                            </div>
                        </div>
                    </div> 
                    
                    
                      <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtEmail">E-mail</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input type="email" class="form-control" ng-model="Conductor.Email" id="txtEmail" placeholder="E-mail">
                        
                             </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtFechaNacimiento">Fecha Nacimiento *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-calendar-o"></i></div>
                                <input type="date" class="form-control" ng-model="Conductor.FechaNacimiento" id="txtFechaNacimiento" placeholder="Birth Date">
                       
                             </div>
                        </div>
                    </div> 
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEscolaridad">Escolaridad *</label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-list-ol"></i></div>
                            <select type="text" class="form-control" ng-model="Conductor.Escolaridad" id="txtEscolaridad" placeholder="Escolaridad">
                                <option value="BACHILLER">BACHILLER</option>
                                <option value="TECNICO">TECNICO</option>
                                <option value="PRIMARIA">PRIMARIA</option>
                                <option value="SECUNADARIA">SECUNADARIA</option>
                                <option value="UNIVERSIDAD">UNIVERSIDAD</option>
                                
                            </select>
                           </div>
                        </div>
                    </div>
               
               
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtFechaIngreso">Fecha Ingreso*</label>
                             <div class="input-group">    
                               <div class="input-group-addon"><i class="fa fa-calendar-check-o"></i></div>
                               <input type="date" class="form-control" ng-model="Conductor.FechaIngreso" id="txtFechaIngreso" placeholder="Fecha Ingreso">
                        
                             </div>
                        </div>
                    </div> 
                    
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                             <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="Conductor.Estado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="EN RPOCESO">EN RPOCESO</option>
                                <option value="RETIRADO">RETIRADO</option>
                            </select>
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtClave">Clave *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                 <input type="password" class="form-control" ng-model="Conductor.Clave" id="txtClave" placeholder="Key">
                        
                             </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-info" ng-click="Guardar()" style="margin-top:5%" >Guardar</button>
                    </div>
                    
                </div>                                
            </form>
        </div>
    <!--    
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CEDULA</th>                                
                                <th>NOMBRE</th>
                                <th>DIRECCION</th>
                                <th>TELEFONO PRINCIPAL</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Conductores">
                                <td class="center">{{ items.Cedula}}</td>
                                <td>{{ items.Nombre}}</td>
                                <td>{{ items.Direccion}}</td>
                                <td>{{ items.TelefonoPpal}}</td>
                                <td>
                                    <center>
                                        <a data-ng-click="get(items)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Editar"><i class="small small mdi-image-edit teal-text  darken-1"></i></a>
                                        <a ng-click="Desactivar(items.idCategoria, 'Borrado')"  style="float: left; margin-left: 3px;" href="javascript:;"  title="Eliminar"><i class="small mdi-action-delete red-text text-deep-orange darken-1"></i></a>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                            
            </div>
        -->
    </div>
   
</div>
    
