<div ng-controller="conductorController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-12">  
             <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-justified" id="tabPanels">
                        <li class="active"> <a href="#tabListado" data-toggle="tab">Listado de Conductores </a></li>
                        <li><a href="#tabRegistro" data-toggle="tab">{{title}}</a></li>
                        <li><a href="#tabNovedad" data-toggle="tab">Novedades</a></li>
                    </ul>
             </div>
            
            <div class="tab-content">
                 <br/>
                        <div class="tab-pane active" id="tabListado">
	        <div class="row">
                   <div class="col-xs-6">
                       <label  for="search">Filtro</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                            <input  class="form-control" id="search" type="search" placeholder="" ng-model="TablaConductor.filter()['busqueda']">
                        </div>
                     
                   </div>
                    <div class="" style="float:width; margin-top:30px;">
                        <label class=" text-primary" style="font-size: 18px;">Total: {{Conductores.length}}</label>
                    </div>
                </div>
                            <table class="table table-hover table-condensed" ng-table="TablaConductor" style="float:height; margin-top: 50px;">
                                <thead>
                                    <tr>
                                        <th>CEDULA</th>
                                        <th>NOMBRE</th>                                        
                                        <th>TELEFONO</th>
                                        <th>DIRECCION</th>
                                        <th>ESCOLARIDAD</th>
                                        <th>ESTADO</th>
                                        <th>ACCION</th>
                                       
                                        
                                    </tr>
                                </thead>
                                 <tbody>
                                 <tr data-ng-repeat="items in $data">
                                <td class="center">{{ items.Cedula}}</td>
                                <td>{{ items.Nombre }}</td>
                                <td>{{ items.TelefonoPpal}}</td> 
                                <td>{{ items.Direccion}}</td> 
                                <td>{{ items.Escolaridad}}</td> 
                                <td>{{ items.Estado}}</td> 
                                <td>
                                        <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil text-success"></i></a>
                                            <a data-ng-click="Desactivar(items.IdConductor, 'RETIRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                        </center>
                                </td>
                                  </tr>

                                </tbody>
                            </table>
                     </div>
            
                
                <div class="tab-pane" id="tabRegistro">
                    
            <form name="frmConductor" id="frmConductor" novalidate>
                <div class="row">
                    
                                <div class="col-xs-3">
                                        <div class="form-group">
                                            <label  for="cboTipoDocumento">Tipo Documento *</label>
                                            <div class="input-group">    
                                                <div class="input-group-addon"><i class="fa fa-cc"></i></div>
                                                <select ng-model="Conductor.TipoDocumento" name="cboTipoDocumento" id="cboTipoDocumento" style="width: 105%" class="form-control"  required >
                                                    <option ng-repeat="itemc in TipoDocumentos" value="{{itemc.tdCodigo}}"> {{itemc.tdCodigo}} - {{itemc.tdDescripcion }}</option>
                                                </select>                                                
                                            </div> 
                                        </div>   
                                    </div>
                                
                    
                
                    <div class="col-xs-2">
                        <div class="form-group">
                           <label  for="txtCedula" >Cédula *</label>
                          <div class="input-group">    
                            <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                            <input type="text" class="form-control" ng-model="Conductor.Cedula" id="txtCedula" placeholder="Identification"  maxlength="10" ng-blur="validarIdentificacion()" solo-numeros >
                          </div> 
                           <!--
                            <div class="error">
                                <small  ng-show="valCedula">N° de Identificación, Ya Existe</small>
                            </div> 
                           -->
                        </div>
                    </div>
                    
                     <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtNombre">Nombres *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="text" class="form-control" ng-model="Conductor.Nombre" id="txtNombre" placeholder="Nombre Completo">
                            </div>
                        </div>
                    </div>
                    
                      <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefonoPpal">Teléfono Principal *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                <input type="text" class="form-control" ng-model="Conductor.TelefonoPpal"  maxlength="10" id="txtTelefonoPpal" placeholder="Main Phone" solo-numeros>
                     
                             </div>
                        </div>
                    </div>
                    

                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtDireccion">Dirección *</label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                <input type="text" class="form-control" ng-model="Conductor.Direccion" id="txtDireccion" placeholder="Address">
                        
                            </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefono2">Móvil</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input type="text" class="form-control" maxlength="10" ng-model="Conductor.TelefonoDos" solo-numeros  id="txtTelefonoDos" placeholder="Mobile">
                             </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTelefono3">Teléfono</label>
                            <div class="input-group">    
                               <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                               <input type="text" class="form-control" maxlength="10" solo-numeros ng-model="Conductor.TelefonoTres" id="txtTelefonoTres" placeholder="Phone">
                            </div>
                             <div class="error" ng-show="frmConductor.txtMovil.$dirty && frmConductor.txtMovil.$invalid">
                                            <small ng-show="frmConductor.txtMovil.$error.required">Movil es Requerido</small>
                                            <small  ng-show="frmConductor.txtMovil.$error.pattern">Solo Numeros</small>
                             </div>
                        </div>
                    </div> 
                    
                    
                      <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtEmail">E-mail *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input type="email" class="form-control" ng-model="Conductor.Email" id="txtEmail" placeholder="E-mail">
                        
                             </div>
                        </div>
                    </div> 
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtFechaNacimiento">Fecha Nacimiento *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-calendar-o"></i></div>
                                <input type="text" id="txtFechaNacimiento" ng-model="Conductor.FechaNacimiento"  name="txtFechaNacimiento" class="form-control" ng-change="Cambiarformato('FechaNacimiento')"  value=""  >
                             </div>
                        </div>
                    </div> 
                    
                    
                    
                                <div class="col-xs-3">
                                        <div class="form-group">
                                            <label  for="cboEscolaridad">Escolaridad *</label>
                                            <div class="input-group">    
                                                <div class="input-group-addon"><i class="fa fa-list-ol"></i></div>
                                                <select ng-model="Conductor.Escolaridad" name="cboEscolaridad" id="cboEscolaridad" style="width: 105%" class="form-control"  required >
                                                    <option ng-repeat="itemc in Escolaridades" value="{{itemc.esCodigo}}"> {{itemc.esDescripcion}}</option>
                                                </select>                                                
                                            </div> 
                                        </div>   
                                    </div>
                
                
                
                  <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtFechaIngreso">Fecha Ingreso*</label>
                             <div class="input-group">    
                               <div class="input-group-addon"><i class="fa fa-calendar-check-o"></i></div>
                               <input type="text" class="form-control" ng-model="Conductor.FechaIngreso" id="txtFechaIngreso" name="txtFechaIngreso" placeholder="Fecha Ingreso" ng-change="Cambiarformato('FechaIngreso')">
                        
                             </div>
                        </div>
                    </div> 
                    
                    
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                             <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="Conductor.Estado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="EN RPOCESO">EN RPOCESO</option>
                                <option value="RETIRADO">RETIRADO</option>
                            </select>
                       
                             </div>
                        </div>
                    </div>
              
                    
                     
                    
                     <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtNumeroCuenta">Numero de Cuenta *</label>
                            <div class="input-group">    
                               <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                               <input type="text" class="form-control" ng-model="Conductor.NumeroCuenta" maxlength="45" id="txtNumeroCuenta" placeholder="Account Number">
                            </div>
                        </div>
                    </div>
                    
                    
                     <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtCdPlaca">Placa *</label>
                            <div class="input-group">    
                               <div class="input-group-addon"><i class="fa fa-eraser"></i></div>
                               <input type="text" class="form-control" ng-model="Conductor.CdPlaca" maxlength="6" id="txtCdPlaca" placeholder="License plate">
                            </div>
                        </div>
                    </div>
                    
                    
                    
                      <div class="col-xs-6">
                        <div class="form-group">
                            <label for="Observacion">Observacion</label>
                            <div class="input-group">    
                               <div class="input-group-addon"><i class="fa fa-book"></i></div>
                               <input type="text" class="form-control" ng-model="Conductor.Observacion" maxlength="255" id="txtObservacion" placeholder="Observation">
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-4">                                        
                            <br/>
                            <button   class="btn btn-danger btn-block"   type="button"  title="Nuevo Conductor" ng-click="Nuevo()">Nuevo</button>
                        </div>
                        <div class="col-xs-2">
                                       
                            <br/>
                            <button   class="btn btn-primary btn-block"   type="button"  title="Registrar Conductor" ng-click="Guardar()">Guardar</button>
                        </div>
                     </div>
                    
                </div>                                
            </form>    
         </div>
                  
                 
                 <div class="tab-pane" id="tabNovedad">
                      <form name="frmNovedad" id="frmNovedad" novalidate>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEstado">Tipo *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="Novedad.nvTipo" id="txtEstado" placeholder="Tipo">
                                <option value="CONTRALORIA">CONTRALORIA</option>
                                <option value="PROCURADURIA">PROCURADURIA</option>
                                <option value="POLICIA NACIONAL">POLICIA NACIONAL</option>
                                <option value="SIMIT">SIMIT</option>
                                <option value="EPS">EPS</option>
                                <option value="ARL">ARL</option>
                                <option value="FONDO PENSIONES">FONDO PENSIONES</option>
                            </select>
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="txtNovedad">Descripción *</label>
                            <textarea class="form-control"  ng-model="Novedad.nvDescripcion" id="txtNovedad" placeholder="Descripción"></textarea>
                        </div>
                    </div>
                    
                    
                    
                     <div class="col-xs-3">
                         <div class="form-group">
                             <button type="button" ng-hide="editMode" class="btn btn-primary" ng-click="AgregarNovedad()" style="margin-top:10%" >Agregar</button>
                             <button type="button" ng-show="editMode" class="btn btn-primary" ng-click="GuardarNovedad()" style="margin-top:10%" >Guardar</button>
                         </div>
                    </div>
                    
                </div>                                
            </form>
                     
                       <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">TIPO</th>                                
                                <th>DESCRIPCIÓN</th>  
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Novedades">
                                <td class="center">{{ items.nvTipo}}</td>
                                <td>{{ items.nvDescripcion }}</td>
                                <td>
                                    <center>
                                        <a data-ng-click="getNovedad(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class=" fa fa-1x fa-pencil text-success"></i></a>
                                        <a ng-click="Cancelar(items.idCategoria,'INACTIVA')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Cancelar"><i class="fa fa-1x fa-ban text-warning"></i></a>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                            
            </div>
    </div>
                     
                 </div>
                 
            </div>
        </div>
    
    </div>
   
</div>

<script>
    $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        
    });
    
    $('#tabPanels a[href="#tabRegistro"]').tab('show');

$(function() {
    
        $('input[name="txtFechaNacimiento"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,         
            dateFormat: 'dd/mm/yyyy'
        }, 
        function(start, end, label) {            
            $('#txtFechaNacimiento').val(end.format('DD/MM/YYYY'));         
        });
        
        $('input[name="txtFechaIngreso"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            format: 'DD/MM/YYYY'
        }, 
        function(start, end, label) {
            $('#txtFechaIngreso').val(end.format('DD/MM/YYYY'));
        });
        
        

    });

</script>
    
