<div ng-controller="escolaridadController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-4">            
            <form name="frmEscolaridad" id="frmEscolaridad" novalidate>
                <h5 class="text-primary">{{title}}</h5>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEscolaridad">Codigo *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-hashtag text-success"></i></div>
                                 <input  maxlength="3" type="text" class="form-control" ng-model="Escolaridad.esCodigo"  required="" id="txtEscolaridad"  ng-blur="validarCodigo()"  placeholder="codigo">
                       
                             </div>
                        </div>
                    </div>
                    
                     <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEscolaridad">Descripción *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-mortar-board text-success"></i></div>
                                 <input type="text" class="form-control" required="" ng-model="Escolaridad.esDescripcion" maxlength="45" id="txtEscolaridad" placeholder="Descripción">
                       
                             </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                            <select type="text" class="form-control" ng-model="Escolaridad.esEstado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="BORRADO">BORRADO</option>
                            </select>
                       
                             </div>
                        </div>
                    </div>
                    <div class="row">
                         <br/>
                        <div class="col-xs-5 col-xs-offset-1">                                                                    
                            <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                        </div>
                       <div class="col-xs-5">
                            <button ng-disabled="frmEscolaridad.$invalid"  class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Escolaridad" ng-click="Guardar()"><i class="fa fa-check"></i> Guardar</button>
                       </div>
                    </div>
                    
                </div>                                
            </form>
        </div>
        
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CODIGO</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Escolaridades">
                                <td class="center">{{ items.esCodigo}}</td>
                                <td>{{ items.esDescripcion }}</td>
                                <td>{{ items.esEstado}}</td>
                                <td>
                                    <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                            <a ng-click="VerDesactivar(items.esCodigo, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                                <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                                    <div class="modal-content">
                                       
                                        <div class="modal-header">
                                            <div class="modal-title">Activar / Borrar Escolaridad</div>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>¿Está seguro de ejecutar esta acción? '{{esEstado}}' </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                                        </div>  
                                        
                                    </div>
                                                                     
                                </div>
                     </div>
                </div>                            
            </div>
        </div>
    </div>
</div>

