<div ng-controller="marcaController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-4">            
            <form name="frmMarca" id="frmMarca" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtMarca">Descripción *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-gitlab"></i></div>
                                 <input type="text" class="form-control" ng-model="Marca.maDescripcion" maxlength="25" id="txtMarca" placeholder="Marca">
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="Marca.maEstado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                       
                             </div>
                        </div>
                    </div>
                    
                   <div class="col-xs-5">
                        <br/>
                        <button   class="btn btn-primary btn-block"   type="button"  title="Registrar Marca" ng-click="Guardar()">Guardar</button>
                   </div>
                    
                </div>                                
            </form>
        </div>
        
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CODIGO</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Marcas">
                                <td class="center">{{ items.maCodigo}}</td>
                                <td>{{ items.maDescripcion }}</td>
                                <td>{{ items.maEstado}}</td>
                                <td>
                                        <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                            <a data-ng-click="Desactivar(items.maCodigo, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash"></i></a>
                                        </center>
                                    </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>                            
            </div>
        </div>
    </div>
</div>
