<div ng-controller="marcaController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-4">            
            <form name="frmMarca" id="frmMarca" novalidate>
                 <h5 class="text-primary">{{title}}</h5>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtMarca">Descripción *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-gitlab text-success"></i></div>
                                 <input type="text" required="" class="form-control" ng-model="Marca.maDescripcion" maxlength="25" id="txtMarca" placeholder="Marca">
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                            <select type="text" class="form-control" ng-model="Marca.maEstado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                       
                             </div>
                        </div>
                    </div>
                    <div class="row">
                         <br/>
                        <div class="col-xs-5 col-xs-offset-1">                                                                    
                            <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                        </div>
                        <div class="col-xs-5">
                            <button ng-disabled="frmMarca.$invalid"  class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Marca" ng-click="Guardar()"><i class="fa fa-check"></i>Guardar</button>
                        </div>
                    </div>
                    
                </div>   
                    
            </form>
        </div>
        
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CODIGO</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Marcas">
                                <td class="center">{{ items.maCodigo}}</td>
                                <td><center>{{ items.maDescripcion }}</center></td>
                                <td><center>{{ items.maEstado}}</center></td>
                                <td>
                                        <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                            <a data-ng-click="VerDesactivar(items.maCodigo, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                        </center>
                                    </td> 
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                                <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                                    <div class="modal-content">
                                       
                                        <div class="modal-header">
                                            <div class="modal-title">Activar / Borrar Marca</div>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>¿Está seguro de ejecutar esta acción? '{{maEstado}}' </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                                        </div>  
                                        
                                    </div>
                                                                     
                                </div>
                            </div>
                </div>                            
            </div>
        </div>
    </div>
</div>
