<!--    Motivos de cancelacion de servicios -->
<div ng-controller="motivoController"  class="container-fluid">
    <div class="row">
        <div class="col-md-4">            
            <form name="frmMotivo" id="frmMotivo" novalidate>
                <h5 class="text-primary">{{title}}</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtMotivo">Descripción *</label>
                               <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-book text-success"></i></div>
                                 <input type="text" required="" class="form-control" ng-model="Motivo.mtDescripcion" maxlength="200" id="txtMotivo" placeholder="Motivo">
                       
                               </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtEstado">Modulo *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                                <select type="text" class="form-control" ng-model="Motivo.mtModulo" id="txtEstado" placeholder="Estado">
                                    <option value="CLIENTE">CLIENTE</option>
                                    <option value="CONDUCTOR">CONDUCTOR</option>
                                    <option value="WEB">WEB</option>
                                </select>                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtEstado">Dejar servicio activo *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                                <select type="text" class="form-control" ng-model="Motivo.mtDejarServicio" id="txtEstado" placeholder="Estado">
                                    <option value="SI">SI</option>
                                    <option value="NO">NO</option>
                                </select>                       
                             </div>
                        </div>
                    </div>
                    
                   
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                                <select type="text" class="form-control" ng-model="Motivo.mtEstado" id="txtEstado" placeholder="Estado">
                                    <option value="ACTIVO">ACTIVO</option>
                                    <option value="BORRADO">BORRADO</option>
                                </select>                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <br/>
                        <div class="col-md-5 col-md-offset-1">                                                                    
                            <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                        </div>
                        <div class="col-md-5">                                 
                            <button  ng-disabled="frmMotivo.$invalid"  class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Tipo Vehiculo" ng-click="Guardar()"><i class="fa fa-check"></i>Guardar</button>
                         </div>
                    </div>
                    
                    
                </div>                                
            </form>
        </div>
        
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <table border="0" cellspacing="0" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">ID</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>MODULO</th>
                                <th title="Dejar Servicio en cola.">SERVICIO</th>
                                <th>ESTADO</th>
                                <th width="5%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Motivos">
                                <td class="center">{{ items.IdMotivo}}</td>
                                <td>{{ items.mtDescripcion }}</td>
                                <td>{{ items.mtModulo }}</td>
                                <td>{{ items.mtDejarServicio }}</td>
                                <td>{{ items.mtEstado }}</td>
                               
                                <td>
                                    <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>                                          
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>                     
                </div>                            
            </div>
        </div>
    </div>
</div>