<div ng-controller="personaController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-12">  
            <div class="tabbable-line">
                   <ul class="nav nav-tabs nav-justified" id="tabPanels">
                       <li class="active"> <a href="#tabListado" data-toggle="tab">Listado de Personal </a></li>
                       <li><a href="#tabRegistro" data-toggle="tab">{{title}} </a></li>
                   </ul>
            </div>
            
            <div class="tab-content">
                <br/>
                <div class="tab-pane active" id="tabListado">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>CEDULA</th>
                                <th>NOMBRE</th>  
                                <th>DIRECCION</th>
                                <th>TELEFONO</th>
                                <th>E-MAIL</th>
                                <th>ESTADO</th>                                
                                <th>ACCÍON</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Personas">
                                <td class="center">{{ items.Cedula}}</td>
                                <td>{{ items.Nombre }}</td>
                                <td>{{ items.Direccion}}</td> 
                                <td>{{ items.MovilPpal}}</td> 
                                <td>{{ items.Correo}}</td>                                
                                <td>{{ items.Estado}}</td> 
                                <td>
                                        <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                            <a data-ng-click="Desactivar(items.IdPersona, 'RETIRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash"></i></a>
                                        </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
                
                <div class="tab-pane" id="tabRegistro">
                    
                    <form name="frmPersona" id="frmPersona" novalidate class="col-xs-offset-1 col-xs-11">
                        <div class="row">
                    
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label  for="cboTipoDocumento">Tipo Documento *</label>
                                    <div class="input-group">    
                                        <div class="input-group-addon"><i class="fa fa-cc"></i></div>                                                                                
                                        <select ng-model="TipoSelect" class="form-control" id="cboTipoDocumento" ng-options="item as item.tdCodigo +' - '+ item.tdDescripcion for item in TipoDocumentos track by item.tdCodigo" required></select>
                                    </div> 
                                </div>   
                            </div>
                                
                    
                
                        <div class="col-xs-2">
                            <div class="form-group">
                               <label  for="txtCedula" >Identificación *</label>
                              <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                                <input type="text" class="form-control" ng-model="Persona.Cedula" maxlength="10" solo-numeros id="txtCedula" placeholder="Identificación" ng-blur="validarIdentificacion()" required>
                              </div>                           
                            </div>
                        </div>
                    
                        <div class="col-xs-6">
                           <div class="form-group">
                               <label for="txtNombre">Nombres *</label>
                                <div class="input-group">    
                                   <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                   <input type="text" class="form-control" ng-model="Persona.Nombre" maxlength="100" id="txtNombre" placeholder="Nombre Completo" required>
                               </div>
                           </div>
                       </div>
                    
                        <div class="col-xs-3">
                          <div class="form-group">
                              <label for="txtTelefonoPpal">Teléfono Principal *</label>
                               <div class="input-group">    
                                  <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                  <input type="text" class="form-control" ng-model="Persona.MovilPpal" maxlength="10" solo-numeros id="txtTelefonoPpal" placeholder="Teléfono Principal" required>

                               </div>
                          </div>
                      </div>
                            
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtTelefono2">Móvil</label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                    <input type="text" class="form-control" ng-model="Persona.MovilDos" maxlength="10" solo-numeros id="txtTelefonoDos" placeholder="Móvil">
                                 </div>
                            </div>
                        </div> 
                    

                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="txtDireccion">Dirección *</label>
                                <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                    <input type="text" class="form-control" ng-model="Persona.Direccion" maxlength="45" id="txtDireccion" placeholder="Dirección" required>

                                </div>
                            </div>
                        </div> 

                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtUsuario">Nombre Usuario *</label>
                                <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-user-secret"></i></div>
                                    <input type="text" class="form-control" ng-model="Persona.Login" maxlength="45" id="txtUsuario" placeholder="Nombre de Usuario" required>

                                </div>
                            </div>
                        </div> 
                    
                                                                                                                                           
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtEmail">E-mail *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input type="email" class="form-control" ng-model="Persona.Correo" maxlength="60" id="txtEmail" placeholder="E-mail" required>                        
                             </div>
                        </div>
                    </div> 
                                                            
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                                <select type="text" class="form-control" ng-model="Persona.Estado" id="txtEstado" placeholder="Estado" required>
                                   <option value="ACTIVO">ACTIVO</option>
                                   <option value="INACTIVO">INACTIVO</option>
                                </select>
                       
                             </div>
                        </div>
                    </div>                                                                          
                </div>
                        
                    <div class="row">
                        <div class="divider"></div>
                        <h4>Seleccione los permisos</h4>
                        <div ng-repeat="permiso in Permisos">
                            <div class="col-xs-4">     
                                <div class="checkbox checkbox-primary">
                                    <input type="hidden" id="hd{{permiso.IdPermiso}}" value="{{permiso.pmModulo}}"/>
                                    <input type="checkbox" id="{{permiso.IdPermiso}}" name="misPermisos[]"/>
                                    <label for="{{permiso.IdPermiso}}">{{permiso.pmNombre}}</label> 
                                </div>
                            </div> 
                        </div>
                    </div>

                    
                <div class="row">
                    <br/>
                    <div class="col-xs-2 col-xs-offset-7">
                        <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo Registro" ng-click="Nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                    </div>
                    <div class="col-xs-2">                                   
                        <button ng-disabled="frmPersona.$invalid"   class="btn btn-danger btn-block btn-addon"   type="button"  title="Registrar Cliente" ng-click="Guardar()"> <i class="fa fa-floppy-o"></i>Guardar</button>
                    </div>
                </div>
            </form>    
        </div>
                  
                 
                 <div class="tab-pane" id="tabRol">
                      <form name="frmRol" id="frmRol" novalidate>
                <div class="row">
                   
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtRol">Descripción *</label>
                           <div class="input-group">
                             <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" class="form-control"  ng-model="Rol.Descripcion" id="txtRol" placeholder="Descripción">
                           </div>
                        </div>
                    </div>
                    
                     <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="Rol.Estado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                       
                             </div>
                        </div>
                    </div>                                       
                </div>    
                          
               
                          
            </form>
                     
                       <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">DESCRIPCIÓN</th>                                
                                <th>ESTADO </th>  
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Roles">
                                <td class="center">{{ items.nvTipo}}</td>
                                <td>{{ items.nvDescripcion }}</td>
                                <td>
                                    <center>
                                        <a data-ng-click="get(items)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Editar"><i class="small small mdi-image-edit teal-text  darken-1"></i></a>
                                        <a ng-click="Desactivar(items.idCategoria, 'Borrado')"  style="float: left; margin-left: 3px;" href="javascript:;"  title="Eliminar"><i class="small mdi-action-delete red-text text-deep-orange darken-1"></i></a>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                            
            </div>
    </div>
                     
                 </div>
                 
                                                    
        </div>    
     </div>
    </div>
 </div>

     
<script>
    $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        
    });
    
    $('#tabPanels a[href="#tabRegistro"]').tab('show');
    
</script>