<div ng-controller="rutaController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-4"> 
         <form  name="frmRuta" id="frmRuta" novalidate>
                <h5 class="text-primary">{{title}}</h5>
                    <div class="row">
                       <div class="col-xs-12">
                            <div class="form-group">
                                <label  for="cboTipoVehiculo">Tipo Vehiculo *</label>
                                    <div class="input-group">    
                                        <div class="input-group-addon"><i class="fa fa-car text-success"></i></div>
                                           <select ng-model="VehiculoSelect" class="form-control" id="cboTipoVehiculo" ng-options="item as item.tvCodigo +' - '+ item.tvDescripcion for item in TipoVehiculos track by item.tvCodigo" required></select>           
                                    </div> 
                            </div>   
                        </div>
                         
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label  for="cboDepartamento">Departamento *</label>
                                    <div class="input-group">    
                                        <div class="input-group-addon"><i class="fa fa-globe text-success"></i></div>
                                           <select ng-model="DeptSelect" class="form-control" id="cboDepartamento" ng-options="item as item.dtCodigo +' - '+ item.dtNombre for item in Departamentos track by item.dtCodigo" required></select>           
                                    </div> 
                            </div>   
                        </div>
                        
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label  for="cboMunicipio">Municipio *</label>
                                    <div class="input-group">    
                                        <div class="input-group-addon"><i class="fa fa-globe text-success"></i></div>
                                           <select ng-model="MunSelect" class="form-control" id="cboMunicipio" ng-options="item as item.dtCodigo +' - '+ item.dtNombre for item in Departamentos track by item.dtCodigo" required></select>           
                                    </div> 
                            </div>   
                        </div>
                        
                         <div class="col-xs-12">
                             <div class="form-group">
                                 <label for="txtNombre">Nombre *</label>
                                     <div class="input-group">    
                                         <div class="input-group-addon"><i class="fa fa-tasks text-success"></i></div>
                                         <input type="text" class="form-control" ng-model="Ruta.rtNombre" maxlength="30" id="txtNombre" required="" placeholder="Nombre Ruta">
                                     </div>
                             </div>
                         </div>
                         
                        
                        <div class="col-xs-12">
                             <div class="form-group">
                                 <label for="txtDescripcion">Descripción *</label>
                                     <div class="input-group">    
                                         <div class="input-group-addon"><i class="fa fa-road text-success"></i></div>
                                         <input type="text" class="form-control" ng-model="Ruta.rtDescripcion" maxlength="255" id="txtDescripcion" required="" placeholder="Descripción">
                                     </div>
                             </div>
                        </div>
                        

                         <div class="col-xs-12">
                             <div class="form-group">
                                 <label for="txtEstado">Estado *</label>
                                     <div class="input-group">    
                                         <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                                         <select type="text" required="" class="form-control" ng-model="Ruta.trEstado" id="txtEstado" placeholder="Estado">
                                                 <option value="ACTIVO">ACTIVO</option>
                                                 <option value="INACTIVO">INACTIVO</option>
                                                 <option value="BORRADO">BORRADO</option>
                                              </select>
                       
                                      </div>
                              </div>
                         </div>
                         
                         <div class="col-xs-12">
                             <div class="form-group">
                                 <label for="txttrValor"> Valor *</label>
                                      <div class="input-group">    
                                          <div class="input-group-addon"><i class="fa fa-hashtag text-success"></i></div>
                                          <input required="" type="text" class="form-control" ng-model="Ruta.trValor" id="txttrValor" placeholder="Valor "  maxlength="11" solo-numeros >
                                       </div> 
                             </div>
                         </div>
                         
                        <div class="row">
                             <br/>
                                <div class="col-xs-5 col-xs-offset-1">                                                                    
                                     <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                                </div>
                                <div class="col-xs-5">   
                                     <button ng-disabled="frmRuta.$invalid"  class="btn btn-primary btn-block btn-addon"   type="button"  title="Guardar Ruta" ng-click="Guardar()"><i class="fa fa-check"></i>Guardar</button>
                                </div>
                        </div>
                    </div>
                </form>
            </div> 
          <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CODIGO</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Rutas">
                                <td class="center">{{ items.tdCodigo}}</td>
                                <td>{{ items.tdDescripcion }}</td>
                                <td>{{ items.tdEstado}}</td>
                                <td>
                                   <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                            <a data-ng-click="VerDesactivar(items.trEstado, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                      <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                                <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                                    <div class="modal-content">
                                       
                                        <div class="modal-header">
                                            <div class="modal-title">Activar / Borrar Ruta</div>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>¿Está seguro de ejecutar esta acción? '{{trEstado}}' </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                                        </div>  
                                        
                                    </div>
                                                                     
                                </div>
                     </div>
                </div>                            
            </div>
        </div> 
       
    </div>
</div>