<div ng-controller="servicioController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-4">            
            <form name="frmServicio" id="frmServicio" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtServicio">Descripción *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-road"></i></div>
                                 <input type="text" required="" class="form-control" ng-model="Servicio.svDescripcion" maxlength="200" id="txtServicio" placeholder="Servicio">
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="Servicio.svEstado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                                <option value="BORRADO">BORRADO</option>
                            </select>
                             </div>
                        </div>
                    </div>
                    
                     <div class="col-xs-5">     
                            <br/>
                            <button  ng-disabled="frmServicio.$invalid" class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Servicio" ng-click="Guardar()"> <i class="fa fa-check"></i>Guardar</button>
                   </div>
                    
                </div>                                
            </form>
        </div>
        
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CODIGO</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Servicios">
                                <td class="center">{{ items.svCodigo}}</td>
                                <td>{{ items.svDescripcion }}</td>
                                <td>{{ items.svEstado}}</td>
                                <td>
                                     <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                            <a ng-click="VerDesactivar(items.svCodigo, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                        </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                                <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                                    <div class="modal-content">
                                       
                                        <div class="modal-header">
                                            <div class="modal-title">Activar / Borrar Servicio</div>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>¿Está seguro de ejecutar esta acción? '{{svEstado}}' </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                                        </div>  
                                        
                                    </div>
                                                                     
                                </div>
                     </div>
                </div>                            
            </div>
        </div>
    </div>
</div>

