<div ng-controller="servicioController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-4">            
            <form name="frmServicio" id="frmServicio" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtServicio">Descripción *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-road"></i></div>
                            <input type="text" class="form-control" ng-model="Servicio.svDescripcion" id="txtServicio" placeholder="Servicio">
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="Servicio.svEstado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-info" ng-click="Guardar()" style="margin-top:15%" >Guardar</button>
                    </div>
                    
                </div>                                
            </form>
        </div>
        
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CODIGO</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in Servicios">
                                <td class="center">{{ items.svCodigo}}</td>
                                <td>{{ items.svDescripcion }}</td>
                                <td>{{ items.svEstado}}</td>
                                <td>
                                    <center>
                                        <a data-ng-click="get(items)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Editar"><i class="small small mdi-image-edit teal-text  darken-1"></i></a>
                                        <a ng-click="Desactivar(items.idCategoria, 'Borrado')"  style="float: left; margin-left: 3px;" href="javascript:;"  title="Eliminar"><i class="small mdi-action-delete red-text text-deep-orange darken-1"></i></a>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                            
            </div>
        </div>
    </div>
</div>

