<div ng-controller="tipoVehiculoController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-4">            
            <form name="frmTipoVehiuclo" id="frmTipoVehiculo" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtTipoVehiculo">Descripción *</label>
                               <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-automobile"></i></div>
                                 <input type="text" class="form-control" ng-model="TipoVehiculo.tvDescripcion" maxlength="100" id="txtTipoVehiculo" placeholder="Tipo Vehiculo">
                       
                               </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                                 <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select type="text" class="form-control" ng-model="TipoVehiculo.tvEstado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                                <option value="BORRADO">BORRADO</option>

                            </select>
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-5">     
                            <br/>
                            <button   class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Tipo Vehiculo" ng-click="Guardar()"><i class="fa fa-floppy-o"></i>Guardar</button>
                   </div>
                    
                </div>                                
            </form>
        </div>
        
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <table border="0" cellspacing="0" class="table table-striped" >
                        <thead>
                            <tr>
                                <th class="center">CODIGO</th>                                
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                                <th width="12%">ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in TipoVehiculos">
                                <td class="center">{{ items.tvCodigo}}</td>
                                <td>{{ items.tvDescripcion }}</td>
                                <td>{{ items.tvEstado}}</td>
                                <td>
                                    <center>
                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                            <a ng-click="Desactivar(items.tvCodigo, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                            
            </div>
        </div>
    </div>
</div>

