<div class="container-fluid">    

    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified" id="tabPanels">
                    <li class="active"> <a href="#tabVehiculo" data-toggle="tab">Tipo Vehículo </a></li>
                    <li><a href="#tabMantenimiento" data-toggle="tab">Tipo Mantenimiento</a></li>
                </ul>
            </div>
            
            <div class="tab-content">
                <div class="tab-pane active" id="tabVehiculo">
                        
                <div ng-controller="tipoVehiculoController"  >
                    <div class="row">
                        <div class="col-xs-4">            
                            <form name="frmTipoVehiculo" id="frmTipoVehiculo" novalidate>
                                
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="txtTipoVehiculo">Descripción *</label>
                                               <div class="input-group">    
                                                 <div class="input-group-addon"><i class="fa fa-automobile text-success"></i></div>
                                                 <input type="text" required="" class="form-control" ng-model="TipoVehiculo.tvDescripcion" maxlength="100" id="txtTipoVehiculo" placeholder="Tipo Vehiculo">

                                               </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label  for="txtNumPasajero">Numero de Pasajeros *</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-users text-success"></i></div>
                                                <input class="form-control" ng-model="TipoVehiculo.tvNumPasajero" solo-numeros id="txtNumPasajero" name="txtNumPasajero" type="text"  required   maxlength="3" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="txtEstado">Estado *</label>
                                             <div class="input-group">    
                                                 <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                                            <select type="text" class="form-control" ng-model="TipoVehiculo.tvEstado" id="txtEstado" placeholder="Estado">
                                                <option value="ACTIVO">ACTIVO</option>
                                                <option value="INACTIVO">INACTIVO</option>
                                                <option value="BORRADO">BORRADO</option>

                                            </select>

                                             </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br/>
                                        <div class="col-xs-5 col-xs-offset-1">                                                                    
                                            <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                                        </div>
                                        <div class="col-xs-5">                                 
                                            <button  ng-disabled="frmTipoVehiculo.$invalid"  class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Tipo Vehiculo" ng-click="Guardar()"><i class="fa fa-check"></i>Guardar</button>
                                         </div>
                                    </div>


                                </div>                                
                            </form>
                        </div>

                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table border="0" cellspacing="0" class="table table-striped" >
                                        <thead>
                                            <tr>
                                                <th class="center">CODIGO</th>                                
                                                <th><center>DESCRIPCIÓN</center></th>
                                                <th><center>PASAJEROS</center></th>
                                                <th><center>ESTADO</center></th>
                                                <th width="12%">ACCIÓN</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr data-ng-repeat="items in TipoVehiculos">
                                                <td class="center">{{ items.tvCodigo}}</td>
                                                <td><center>{{ items.tvDescripcion }}</center></td>
                                                <td><center>{{ items.tvNumPasajero }}</center></td>
                                                <td><center>{{ items.tvEstado}}</center></td>
                                                <td>
                                                    <center>
                                                            <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                                            <a ng-click="VerDesactivar(items.tvCodigo, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                                    </center>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                     <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                                                <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <div class="modal-title">Activar / Borrar Tipo de Vehiculo</div>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <label>¿Está seguro de ejecutar esta acción? '{{tvEstado}}' </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                            <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                                                        </div>  

                                                    </div>

                                                </div>
                                     </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
                
                <div class="tab-pane" id="tabMantenimiento">
                      
                <div ng-controller="tipoMantenimientoController" >
                  <div class="row">
                      <div class="col-xs-4">            
                          <form name="frmTipoMantenimiento" id="frmTipoMantenimiento" novalidate>
                             
                              <div class="row">
                                  <div class="col-xs-12">
                                      <div class="form-group">
                                          <label for="txtTipoMantenimiento">Descripción *</label>
                                             <div class="input-group">    
                                               <div class="input-group-addon"><i class="fa fa-automobile text-success"></i></div>
                                               <input type="text" required="" class="form-control" ng-model="TipoMantenimiento.tmDescripcion" maxlength="25" id="txtTipoMantenimiento" placeholder="Tipo Mantenimiento">

                                             </div>
                                      </div>
                                  </div>


                                  <div class="col-xs-12">
                                      <div class="form-group">
                                          <label for="txtEstado">Estado *</label>
                                           <div class="input-group">    
                                               <div class="input-group-addon"><i class="fa fa-list-ul text-success"></i></div>
                                          <select type="text" class="form-control" ng-model="TipoMantenimiento.tmEstado" id="txtEstado" placeholder="Estado">
                                              <option value="ACTIVO">ACTIVO</option>
                                              <option value="BORRADO">BORRADO</option>

                                          </select>

                                           </div>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <br/>
                                      <div class="col-xs-5 col-xs-offset-1">                                                                    
                                          <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                                      </div>
                                      <div class="col-xs-5">                                 
                                          <button  ng-disabled="frmTipoMantenimiento.$invalid"  class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Tipo Vehiculo" ng-click="Guardar()"><i class="fa fa-check"></i>Guardar</button>
                                       </div>
                                  </div>


                              </div>                                
                          </form>
                      </div>

                      <div class="col-xs-8">
                          <div class="row">
                              <div class="col-xs-12">
                                  <table border="0" cellspacing="0" class="table table-striped" >
                                      <thead>
                                          <tr>
                                              <th class="center">CODIGO</th>                                
                                              <th><center>DESCRIPCIÓN</center></th>
                                              <th><center>ESTADO</center></th>
                                              <th width="12%">ACCIÓN</th>
                                          </tr>
                                      </thead>

                                      <tbody>
                                          <tr data-ng-repeat="items in TipoMantenimientos">
                                              <td class="center">{{ items.tmCodigo}}</td>
                                              <td><center>{{ items.tmDescripcion }}</center></td>
                                              <td><center>{{ items.tmEstado }}</center></td>

                                              <td>
                                                  <center>
                                                          <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                                          <a ng-click="VerDesactivar(items.tmCodigo, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Eliminar"><i class="fa fa-lg fa-trash text-danger"></i></a>
                                                  </center>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                                   <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                                              <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                                                  <div class="modal-content">

                                                      <div class="modal-header">
                                                          <div class="modal-title">Activar / Borrar Tipo Mantenimiento</div>
                                                      </div>

                                                      <div class="modal-body">
                                                          <div class="row">
                                                              <div class="col-xs-12">
                                                                  <label>¿Está seguro de ejecutar esta acción? '{{tmEstado}}' </label>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div class="modal-footer">
                                                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                                          <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                                                      </div>  

                                                  </div>
 
                                              </div>
                                   </div>
                              </div>                            
                          </div>
                      </div>
                  </div>
                </div>
                </div>
                
            </div>
            
        </div>
    </div>
 </div>

<script>
    $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        
    });
    
    $('#tabPanels a[href="#tabRegistro"]').tab('show');
    
</script>

