<div ng-controller="usuarioController"  class="container-fluid">
    <div class="row">
        <div class="col-xs-12">  
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified" id="tabPanels">
                    <li class="active"> <a href="#tabListado" data-toggle="tab">Listado de Usuario </a></li>
                    <li><a href="#tabRegistro" data-toggle="tab">{{title    }}</a></li>
                    <li><a href="#tabRoles" data-toggle="tab">Perfiles de Usuario</a></li>
                    <li><a href="#tabCambiarC" data-toggle="tab">Cambiar Contraseña</a></li>                                              
                </ul>
            </div>
            
            <div class="tab-content">                 
                <div class="tab-pane active" id="tabListado">
                    <br/>
                    <div class="row">
                        <div class="col-xs-6">
                         <label  for="search">Filtro</label>
                             <div class="input-group">
                                 <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                                 <input  class="form-control" id="search" type="search" placeholder="" ng-model="TablaUsuario.filter()['busqueda']">
                             </div>
                        </div>
                        <div class="" style="float:width; margin-top:30px;">
                               <label class=" text-primary" style="font-size: 18px;">Total: {{Usuarios.length}}</label>
                        </div>
                    </div>

                    <table class="table table-hover table-condensed" ng-table="TablaUsuario" style=" margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>LOGIN</th>
                                <th>NOMBRE</th> 
                                <th>TIPO</th> 
                                <th>SESION</th> 
                                <th>FECHA CONEXION</th>    
                                <th>ESTADO</th> 
                                <th>ACCIÓN</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="items in $data">
                               <td class="center">{{ items.Login}}</td>
                               <td>{{ items.Nombre }}</td>
                               <td>{{ items.Descripcion }}</td>
                               <td>{{ items.Sesion }}</td>                               
                               <td>{{ items.FechaCnx}}</td> 
                               <td>{{ items.Estado}}</td> 
                               <td>
                                       <center>
                                           <a data-ng-click="get(items)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                                           <a data-ng-click="VerDesactivar(items.IdUsuario, 'BORRADO')"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Borrar"><i class="fa fa-lg fa-trash"></i></a>
                                           <a data-ng-click="CambiarPass(items.IdUsuario,  items.Nombre)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Cambiar Contraseña"><i class="fa fa-lg fa-refresh text-warning"></i></a>
                                       </center>
                               </td>
                            </tr>

                        </tbody>

                    </table>
                    <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                        <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                            <div class="modal-content">

                                <div class="modal-header">
                                    <div class="modal-title">Activar / Borrar  Usuario</div>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>¿Está seguro de ejecutar esta acción? '{{Estado}}' </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                                </div>  

                            </div>

                        </div>
                    </div>
            </div>
            
                
            <div class="tab-pane" id="tabRegistro">
                <br/>
            <form class="col-xs-10 col-xs-offset-1" name="frmUsuario" id="frmUsuario" novalidate>
                <div class="row">
                                                                                
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtLogin">Login *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-sign-in"></i></div>
                                <input type="text" class="form-control" ng-model="Usuario.Login" ng-blur="ValidarLogin()" maxlength="12" id="txtlogin" placeholder="login" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtTipoAcceso">Tipo Acceso *</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-universal-access"></i></div>                                
                                <select ng-model="PerfilSelect" class="form-control" id="txtTipoAcceso" ng-options="item as  item.Descripcion for item in Perfiles track by item.IdRol" required ng-change="permisosByPerfil()"></select>
                             </div>
                        </div>
                    </div> 
                                                                                                                                                           

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtIdentificacion">Identificación </label>
                            <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="hidden"  ng-model="Usuario.ClienteId"  id="txtClienteId" >
                                <input type="hidden"  ng-model="Usuario.PersonaId"   id="txtPersonaId" >
                                <input type="hidden"  ng-model="Usuario.ConductorId" id="txtConductorId" >
                                <input type="text" class="form-control"  ng-model="Usuario.Identificacion" maxlength="10" solo-numeros id="txtIdentificacion" placeholder="Identificación" ng-blur="BuscarIdentificacion()" required>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtContrato">N° Contraro*</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-navicon"></i></div>
                                <input required="" type="text" ng-disabled="PerfilSelect.IdRol != '5'" class="form-control" ng-model="Usuario.Contrato" maxlength="11" id="txtContrato" placeholder="N° Contrato ">
                            </div>
                        </div>
                    </div>  
                     
 
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="txtNombre">Nombre*</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input required="" type="text" class="form-control" ng-model="Usuario.Nombre" maxlength="45" id="txtNombre" placeholder="Nombre ">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="txtNombre">Email*</label>
                             <div class="input-group">    
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input required="" type="email" class="form-control" ng-model="Usuario.Email" maxlength="60" id="txtNombre" placeholder="Nombre ">
                            </div>
                        </div>
                    </div>                    
                    
                     <div class="col-xs-3">
                        <div class="form-group">
                            <label for="txtEstado">Estado *</label>
                             <div class="input-group">    
                             <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                             <select type="text" class="form-control" required="" ng-model="Usuario.Estado" id="txtEstado" placeholder="Estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>                                
                                <option value="POR CONFIRMAR">POR CONFIRMAR</option>                                
                            </select>
                       
                             </div>
                        </div>
                    </div>
                    
                    <div class="row">                        
                        <div class="col-xs-12">              
                            <hr>
                            <h5>Seleccione los  permisos</h5>
                            <div ng-repeat="tpv in Permisos">
                                <div class="col-xs-4">     
                                    <div class="checkbox checkbox-primary">                                        
                                         <input type="checkbox" checklist-model="Usuario.Permisos" checklist-value="tpv">
                                         <label for="{{tpv.IdPermiso}}">{{tpv.pmNombre}}</label> 
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
               
                    <div class="row">
                        <br/>
                        <div class="col-xs-2 col-xs-offset-6">                                                                    
                            <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="Nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                        </div>
                                                   
                        <div class="col-xs-2 ">                                                                 
                            <button   class="btn btn-primary btn-block btn-addon" ng-disabled="frmUsuario.$invalid"  type="button"  title="Registrar Usuario" ng-click="Guardar()"><i class="fa fa-pencil"></i> Guardar</button>
                        </div>
                    </div>
                    
                </div>                                
            </form>    
         </div>
                 
            <div class="tab-pane" id="tabRoles">
                <br/>
                <div ng-controller="perfilController">
                <div class="row" >
                    <div class="col-xs-6">
                        <h5 class="text-primary">{{title}}</h5>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label  for="txtId">Codigo *</label>     
                                <input class="form-control" ng-model="Perfil.IdRol" solo-letras id="txtId" type="text" required maxlength="2" disabled>                                              
                            </div>                                
                        </div>
                        
                        <div class="col-xs-7">
                            <div class="form-group">
                                <label  for="txtNombre1">Descripción *</label>     
                                <input class="form-control" ng-model="Perfil.Descripcion" solo-letras name="txtNombre1" id="txtNombre1" type="text" required maxlength="20" disabled>                                              
                            </div>                                
                        </div>
                        
                        <div class="row">                        
                            <div class="col-xs-12">                                
                                <h5>Seleccione los  permisos</h5>
                                <div ng-repeat="tpv in Permisos">
                                    <div class="col-xs-6">     
                                        <div class="checkbox checkbox-primary">                                        
                                             <input type="checkbox" checklist-model="Perfil.Permisos" checklist-value="tpv.IdPermiso">
                                             <label for="{{tpv.IdPermiso}}">{{tpv.pmNombre}}</label> 
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <br/>
                            <div class="col-xs-4 col-xs-offset-2">                                                                    
                                <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="Nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                            </div>
                            <div class="col-xs-4">                                 
                                 <button  class="btn btn-primary btn-block btn-addon"   type="button"  title="Guardar" ng-click="Guardar()"> <i class="fa fa-check"></i>Guardar</button>
                             </div>
                        </div>  
                        
                    </div>
                    
                    <div class="col-xs-6">
                        <table class="table table-hover table-condensed"  >
                            <thead>
                                <tr>
                                    <th>CÓDIGO</th>
                                    <th>NOMBRE</th>
                                    <th>ESTADO</th> 
                                    <th>ACCIÓN</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="pr in Perfiles">
                                   <td>{{ pr.IdRol}}</td>
                                   <td>{{ pr.Descripcion }}</td>
                                   <td>{{ pr.Estado}}</td>                                    
                                   <td>
                                        <center>
                                           <a data-ng-click="get(pr)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil text-success"></i></a>
                                           <a data-ng-click="VerInactivo(pr.IdRol)"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Inactivar"><i class="fa fa-lg fa-power-off text-warning"></i></a>                                               
                                        </center>
                                   </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
                    
                     <div class="modal fade bs-example-modal-sm" id="mdPerfil" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                        <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                            <div class="modal-content">

                                <div class="modal-header">
                                    <div class="modal-title">Inactivar  Perfil</div>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>¿Está seguro de ejecutar esta acción?  </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" ng-click="Inactivar()">Aceptar</button>
                                </div>  

                            </div>

                        </div>
                    </div>
                </div>    
            </div>     
                  
                 
            <div class="tab-pane" id="tabCambiarC">
                <form class="col-xs-10 col-xs-offset-1" name="frmCambiarC" id="frmCambiarC" novalidate>
                      <div class="row">
                            <div class="card  darken-1">
                            <div class="card-content">
                              <span class="card-title teal-text">{{User.Nombre}} </span>
                              
                              <div class="col-xs-3">
                                 <div class="form-group">
                                     <label class="active" for="txtCodigo1" >Id Usuario</label>
                                         <div class="input-group">    
                                             <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                                                 <input type="text"  disabled="" class="form-control" ng-model="User.IdUsuario" id="txtCodigo1" >
                                         </div> 
                                 </div>
                              </div>
                              
                              
                               <div class="col-xs-3">
                                 <div class="form-group">
                                     <label  >Nueva Contraseña *</label>
                                         <div class="input-group">    
                                             <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                                 <input ng-model="User.Clave" class="form-control" type="password" name="txtClave1"  maxlength="15" required ng-pattern="/(?=^.{6,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/">
                                         </div> 
                                     <div class="error" ng-show="frmCambiarC.txtClave1.$dirty && frmCambiarC.txtClave1.$invalid">
                                            <small ng-show="frmCambiarC.txtClave1.$error.required">Contraseña es Requerida</small>
                                            <small  ng-show="frmCambiarC.txtClave1.$error.pattern">Minimo 6 Caracteres[Números y Letras]</small>
                                     </div>
                                 </div>
                              </div>
                              
                               <div class="col-xs-3">
                                 <div class="form-group">
                                     <label>Confirmar Contraseña</label>
                                         <div class="input-group">    
                                             <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                                <input ng-model="User.claveConf" class="form-control" type="password" name="txtClave2"  maxlength="15" required ng-pattern="/(?=^.{6,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/" >                                
                                         </div> 
                                      <div class="error" ng-show="frmCambiarC.txtClave2.$dirty && frmCambiarC.txtClave2.$invalid">
                                            <small ng-show="frmCambiarC.txtClave2.$error.required">Contraseña es Requerida</small>
                                            <small  ng-show="frmCambiarC.txtClave1.$error.pattern">Minimo 6 Caracteres[Números y Letras]</small>
                                        </div>   
                                    <div class="error">
                                        <small  ng-show="valPass">Contraseñas, No son Iguales</small>
                                    </div>
                                 </div>
                              </div>
                              
                            </div>  
                                
                          <div class="card-action" style="padding-bottom:50%; ">  
                          <div class="row">
                             <div class="col-xs-1 col-xs-offset-8">                                        
                                 <br/>
                                    <a  data-ng-click="cancelar()" href="javascript:;" class="btn-floating btn-large waves-effect waves-light red right"  title="Cancelar Operación">
                                    <i class="fa fa-lg fa-ban text-warning">Back</i>
                                </a>
                             </div>
                             <div class="col-xs-1">          
                                 <br/>
                                <button  ng-disabled="frmCambiarC.$invalid" class="btn-floating btn-large waves-effect waves-light red right"  type="button" title="Guardar Contraseña" ng-click="guardarPass()">
                                    <i class="fa fa-lg fa-check text-primary"></i>
                                </button>                             
                             </div>
                         </div>
                          </div>    
                           
                        </div> 
                   
                     </div>                                
                  </form>
                     
                      
                     
                 </div>
         </div>
     </div>
   </div>
</div>

     
<script>
    $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        
    });
    
    $('#tabPanels a[href="#tabRegistro"]').tab('show');
    
    
    $('input[name="txtFechaConexion"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            format: 'DD/MM/YYYY'
        }, 
        function(start, end, label) {
            $('#txtFechaConexion').val(end.format('DD/MM/YYYY'));
        });
</script>
