<div ng-controller="usuarioController"  class="container-fluid">
   <div class="row">
      <div class="col-xs-12">  
         <div class="tabbable-line">
            <ul class="nav nav-tabs nav-justified" id="tabPanels">
               <li class="active"> <a href="#tabListado" data-toggle="tab">Listado de Usuario </a></li>
               <li><a href="#tabRegistro" data-toggle="tab">{{title}}</a></li>
               <li><a href="#tabRoles" data-toggle="tab">Perfiles de Usuario</a></li>
               <li><a href="#tabCambiarC" data-toggle="tab">Cambiar Contraseña</a></li>                                              
            </ul>
         </div>

         <div class="tab-content">                 
            <div class="tab-pane active" id="tabListado">
               <br/>

               <div class="panel panel-default">
                  <div class="panel-body">

                     <div class="row">
                        <div class="col-xs-6">                         
                           <div class="input-group">
                              <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                              <input  class="form-control" id="search" type="search" placeholder="Buscar por login, nombre, tipo" ng-model="TablaUsuario.filter()['busqueda']">
                           </div>
                        </div>
                        <div class="col-xs-2" style="float:width; margin-top:7px;">
                           <label class=" text-primary" style="font-size: 18px;">Total: {{Usuarios.length}}</label>
                        </div>
                        <div class="col-xs-2">
                           <button type="button" class="btn btn-success btn-addon" ng-click="GetUsuarios()" title="Actualizar usuarios"><i class="fa fa-refresh"></i> Actualizar</button>
                        </div>
                     </div>

                  </div>

                  <table class="table table-hover table-striped table-condensed" ng-table="TablaUsuario" style=" margin-top: 10px;">
                     <thead>
                        <tr>
                           <th>LOGIN</th>
                           <th>NOMBRE</th> 
                           <th>TIPO</th> 
                           <th>SESION</th> 
                           <th>FECHA CONEXION</th>    
                           <th>ESTADO</th> 
                           <th width="12%">ACCIÓN</th>
                        </tr>
                     </thead>

                     <tbody>
                        <tr data-ng-repeat="items in $data">
                           <td class="center">{{ items.Login}}</td>
                           <td>{{ items.Nombre}}</td>
                           <td>{{ items.Descripcion}}</td>
                           <td>{{ items.Sesion}}</td>                               
                           <td>{{ items.FechaCnx}}</td> 
                           <td>{{ items.Estado}}</td> 
                           <td>
                     <center>
                        <a ng-click="get(items)" style="float: left; margin-left: 10px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil"></i></a>
                        <a ng-click="CambiarPass(items.IdUsuario, items.Nombre, items.Login)" style="float: left; margin-left: 10px;" href="javascript:;"  title="Cambiar Contraseña"><i class="fa fa-lg fa-refresh text-warning"></i></a>					
                        <a ng-click="VerDesactivar(items.IdUsuario, 'BORRADO')"  style="float: left; margin-left: 10px;" href="javascript:;"  title="Borrar"><i class="fa fa-lg fa-trash text-danger"></i></a>				
                        <a ng-click="ReenviarEmail(items)" ng-show="items.Estado == 'POR CONFIRMAR'" style="float: left; margin-left: 10px;" href="javascript:;"  title="Reenviar Email de confirmación"><i class="fa fa-lg fa-envelope text-success"></i></a>
                     </center>
                     </td>
                     </tr>

                     </tbody>

                  </table>

                  <br/> <br/> <br/>
               </div>
               <div class="modal fade bs-example-modal-sm" id="mdConfirmacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                  <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                     <div class="modal-content">

                        <div class="modal-header">
                           <div class="modal-title">Activar / Borrar  Usuario</div>
                        </div>

                        <div class="modal-body">
                           <div class="row">
                              <div class="col-xs-12">
                                 <label>¿Está seguro de ejecutar esta acción? '{{Estado}}' </label>
                              </div>
                           </div>
                        </div>

                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                           <button type="button" class="btn btn-primary" ng-click="Desactivar()">Aceptar</button>
                        </div>  

                     </div>

                  </div>
               </div>
            </div>


            <div class="tab-pane" id="tabRegistro">
               <br/>
               <form class="col-xs-12 " name="frmUsuario" id="frmUsuario" novalidate>

                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Datos Básicos del usuario</h3>
                     </div>

                     <div class="panel-body">

                        <div class="row">                                                                                
                           <div class="col-xs-3">
                              <div class="form-group">
                                 <label for="txtLogin">Login <span>*</span></label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-sign-in"></i></div>
                                    <input type="text" class="form-control" ng-model="Usuario.Login" ng-blur="ValidarLogin()" maxlength="12" id="txtlogin" placeholder="login" required>
                                 </div>
                              </div>
                           </div>

                           <div class="col-xs-3">
                              <div class="form-group">
                                 <label for="txtTipoAcceso">Tipo Acceso <span>*</span></label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-universal-access"></i></div>                                
                                    <select ng-model="PerfilSelect" class="form-control" id="txtTipoAcceso" ng-options="item as  item.Descripcion for item in Perfiles track by item.IdRol" required ng-change="permisosByPerfil()"></select>
                                 </div>
                              </div>
                           </div> 


                           <div class="col-xs-3">
                              <div class="form-group">
                                 <label for="txtIdentificacion">Identificación <span>*</span></label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input type="hidden"  ng-model="Usuario.ClienteId"  id="txtClienteId" >
                                    <input type="hidden"  ng-model="Usuario.PersonaId"   id="txtPersonaId" >
                                    <input type="hidden"  ng-model="Usuario.ConductorId" id="txtConductorId" >
                                    <input type="text" class="form-control"  ng-model="Usuario.Identificacion" maxlength="12" solo-numeros id="txtIdentificacion" placeholder="Identificación" ng-blur="BuscarIdentificacion()" required>
                                 </div>
                              </div>
                           </div> 

                           <div class="col-xs-3">
                              <div class="form-group">
                                 <label for="txtContrato">N° Contraro</label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-navicon"></i></div>
                                    <input  type="text" ng-disabled="PerfilSelect.IdRol != '5'" class="form-control" ng-model="Usuario.Contrato" maxlength="11" id="txtContrato" placeholder="N° Contrato " ng-blur="BuscarContrato()">
                                 </div>
                              </div>
                           </div>  


                           <div class="col-xs-5">
                              <div class="form-group">
                                 <label for="txtNombre">Nombre <span>*</span></label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input required="" type="text" class="form-control" ng-model="Usuario.Nombre" maxlength="45" id="txtNombre" placeholder="Nombre ">
                                 </div>
                              </div>
                           </div>

                           <div class="col-xs-4">
                              <div class="form-group">
                                 <label for="txtEmail">Email <span>*</span></label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    <input required="" type="email" class="form-control" ng-model="Usuario.Email" maxlength="60" id="txtEmail" placeholder="Nombre ">
                                 </div>
                              </div>
                           </div>                    

                           <div class="col-xs-3">
                              <div class="form-group">
                                 <label for="txtEstado">Estado <span>*</span></label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                                    <select type="text" class="form-control" required="" ng-model="Usuario.Estado" id="txtEstado" placeholder="Estado">
                                       <option value="ACTIVO">ACTIVO</option>
                                       <option value="INACTIVO">INACTIVO</option>                                
                                       <option value="POR CONFIRMAR">POR CONFIRMAR</option>
                                       <option value="BORRADO">BORRADO</option>
                                    </select>

                                 </div>
                              </div>
                           </div>
                        </div>  

                        <div class="row">                        
                           <div class="col-xs-12">              
                              <hr>
                              <h5>Seleccione los  permisos</h5>
                              <div ng-repeat="tpv in Permisos">
                                 <div class="col-xs-4">     
                                    <div class="checkbox checkbox-primary">                                        
                                       <input type="checkbox" id="{{tpv.IdPermiso}}" checklist-model="Usuario.Permisos" checklist-value="tpv">
                                       <label for="{{tpv.IdPermiso}}">{{tpv.pmNombre}}</label> 
                                    </div>
                                 </div> 
                              </div>
                           </div>
                        </div>

                        <div class="row">
                           <br/>				    
                           <div class="col-xs-2 col-xs-offset-6" ng-show="editMode">                                          					    
                              <button  type="button" ng-click="Nuevo()" class="btn btn-danger btn-addon"  title="Cancelar"> <i class="fa  fa-ban"></i> Cancelar </button>
                           </div>

                           <div class="col-xs-2 col-xs-offset-6" ng-hide="editMode">                                                                    
                              <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo" ng-click="Nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                           </div>

                           <div class="col-xs-2 ">                                                                 
                              <button   class="btn btn-primary btn-block btn-addon" ng-disabled="frmUsuario.$invalid"  type="button"  title="Guardar datos" ng-click="Guardar()"><i class="fa fa-check"></i> Guardar</button>
                           </div>
                        </div>

                     </div>
                  </div>

               </form>

               <div class="modal fade bs-example-modal-sm" id="mdReactivacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                  <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                     <div class="modal-content">

                        <div class="modal-header">
                           <div class="modal-title">Editar Usuario </div>
                        </div>

                        <div class="modal-body">
                           <div class="row">
                              <div class="col-xs-12">
                                 <label>El usuario '{{Usuario.Login}}' ya existe en el sistema. ¿Desea editar los datos de este usuario? </label>
                              </div>
                           </div>
                        </div>

                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                           <button type="button" class="btn btn-primary" ng-click="ConsultarUsuario()">Aceptar</button>
                        </div>  

                     </div>

                  </div>
               </div>


            </div>

            <div class="tab-pane" id="tabRoles">
               <br/>
               <div ng-controller="perfilController">
                  <div class="row" >
                     <div class="col-xs-6">
                        <h5 class="text-primary">{{title}}</h5>
                        <div class="col-xs-3">
                           <div class="form-group">
                              <label  for="txtId">Codigo *</label>     
                              <input class="form-control" ng-model="Perfil.IdRol" solo-letras id="txtId" type="text" required maxlength="2" disabled>                                              
                           </div>                                
                        </div>

                        <div class="col-xs-7">
                           <div class="form-group">
                              <label  for="txtNombre1">Descripción *</label>     
                              <input class="form-control" ng-model="Perfil.Descripcion" solo-letras name="txtNombre1" id="txtNombre1" type="text" required maxlength="20" disabled>                                              
                           </div>                                
                        </div>

                        <div class="row">                        
                           <div class="col-xs-12">                                
                              <h5>Seleccione los  permisos</h5>
                              <div ng-repeat="tpv in Permisos">
                                 <div class="col-xs-6">     
                                    <div class="checkbox checkbox-primary">                                        
                                       <input id="txtp{{tpv.IdPermiso}}" type="checkbox" checklist-model="Perfil.Permisos" checklist-value="tpv">
                                       <label for="txtp{{tpv.IdPermiso}}">{{tpv.pmNombre}}</label> 
                                    </div>
                                 </div> 
                              </div>
                           </div>
                        </div>

                        <div class="row">
                           <br/>
                           <div class="col-xs-4 col-xs-offset-2">                                                                    
                              <button   class="btn btn-success btn-block btn-addon"   type="button"  title="Nuevo / Cancelar" ng-click="Nuevo()"><i class="fa fa-pencil"></i> Nuevo</button>
                           </div>
                           <div class="col-xs-4">                                 
                              <button  class="btn btn-primary btn-block btn-addon"   type="button"  title="Guardar" ng-click="Guardar()"> <i class="fa fa-check"></i>Guardar</button>
                           </div>
                        </div>  

                     </div>

                     <div class="col-xs-6">
                        <table class="table table-hover table-condensed"  >
                           <thead>
                              <tr>
                                 <th>CÓDIGO</th>
                                 <th>NOMBRE</th>
                                 <th>ESTADO</th> 
                                 <th>ACCIÓN</th>
                              </tr>
                           </thead>

                           <tbody>
                              <tr ng-repeat="pr in Perfiles">
                                 <td>{{ pr.IdRol}}</td>
                                 <td>{{ pr.Descripcion}}</td>
                                 <td>{{ pr.rEstado}}</td>                                    
                                 <td>
                           <center>
                              <a data-ng-click="get(pr)" style="float: left; margin-left: 15px;" href="javascript:;"  title="Editar"><i class="fa fa-lg fa-pencil text-success"></i></a>
                              <a data-ng-click="VerInactivo(pr.IdRol)"  style="float: left; margin-left: 15px;" href="javascript:;"  title="Inactivar"><i class="fa fa-lg fa-power-off text-warning"></i></a>                                               
                           </center>
                           </td>
                           </tr>

                           </tbody>

                        </table>
                     </div>
                  </div>

                  <div class="modal fade bs-example-modal-sm" id="mdPerfil" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
                     <div class="modal-dialog modal-sm" style="width: 30%" >                                   
                        <div class="modal-content">

                           <div class="modal-header">
                              <div class="modal-title">Inactivar  Perfil</div>
                           </div>

                           <div class="modal-body">
                              <div class="row">
                                 <div class="col-xs-12">
                                    <label>¿Está seguro de ejecutar esta acción?  </label>
                                 </div>
                              </div>
                           </div>

                           <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                              <button type="button" class="btn btn-primary" ng-click="Inactivar()">Aceptar</button>
                           </div>  

                        </div>

                     </div>
                  </div>
               </div>    
            </div>     


            <div class="tab-pane" id="tabCambiarC">
               <br/>      
               <form class="col-md-6 col-md-offset-3" name="frmCambiarC" id="frmCambiarC" novalidate>
                  <div class="panel panel-default">
                     <div class="panel-heading">Cambiar Contraseña </div>
                     <div class="panel-body">                             
                        <div class="row">                                                                  
                           <div class="col-md-8 col-md-offset-2">
                              <h4>{{User.Nombre}}</h4>
                           </div>                            

                           <br/>                             
                           <div class="col-md-8 col-md-offset-2">
                              <div class="form-group">
                                 <label class="active" for="txtLogin2" >Login *</label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                                    <input type="hidden"  disabled="" class="form-control" ng-model="User.IdUsuario" id="txtCodigo" >
                                    <input type="text"  disabled="" class="form-control" ng-model="User.Login" id="txtLogin2" >
                                 </div> 
                              </div>
                           </div>


                           <div class="col-md-8 col-md-offset-2">
                              <div class="form-group">
                                 <label>Nueva Contraseña *</label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                    <input ng-model="User.Clave" class="form-control" type="password" name="txtClave1"  maxlength="15" required ng-pattern="/(?=^.{6,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/">
                                 </div> 
                                 <div class="error" ng-show="frmCambiarC.txtClave1.$dirty && frmCambiarC.txtClave1.$invalid">
                                    <small ng-show="frmCambiarC.txtClave1.$error.required">Contraseña es Requerida</small>
                                    <small  ng-show="frmCambiarC.txtClave1.$error.pattern">Minimo 6 Caracteres [Números y Letras]</small>
                                 </div>
                              </div>
                           </div>

                           <div class="col-md-8 col-md-offset-2">
                              <div class="form-group">
                                 <label>Confirmar Contraseña *</label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                    <input ng-model="User.claveConf" class="form-control" type="password" name="txtClave2"  maxlength="15" required ng-pattern="/(?=^.{6,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/" >                                
                                 </div> 
                                 <div class="error" ng-show="frmCambiarC.txtClave2.$dirty && frmCambiarC.txtClave2.$invalid">
                                    <small ng-show="frmCambiarC.txtClave2.$error.required">Contraseña es Requerida</small>
                                    <small  ng-show="frmCambiarC.txtClave2.$error.pattern">Minimo 6 Caracteres[Números y Letras]</small>
                                 </div>   

                                 <div class="error">
                                    <small  ng-show="valPass">Contraseñas, No son Iguales</small>
                                 </div>
                              </div>
                           </div>




                           <div class="row">

                              <div class="col-md-4 col-md-offset-2">                                        
                                 <br/>
                                 <button  type="button" ng-click="cancelar()" style="float: right; width: 90%" class="btn btn-danger btn-addon"  title="Cancelar Operación">
                                    <i class="fa  fa-ban"></i> Cancelar
                                 </button>
                              </div>
                              <div class="col-md-4"> 
                                 <br/>
                                 <button ng-disabled="frmCambiarC.$invalid" style="float: left; width: 90%" class="btn btn-primary btn-addon "  type="button" title="Guardar Contraseña" ng-click="guardarPass()">
                                    <i class="fa fa-check"></i> Guardar
                                 </button>                             
                              </div>
                           </div>



                        </div>    
                     </div>     
                  </div>                                
               </form>                                                                
            </div>
         </div>
      </div>
   </div>
</div>


<script>
   $('#tabPanels a').click(function (e) {
       e.preventDefault();
       $(this).tab('show');

   });
   //$('#tabPanels a[href="#tabRoles"]').tab('show');


   $('input[name="txtFechaConexion"]').daterangepicker({
       singleDatePicker: true,
       showDropdowns: true,
       format: 'DD/MM/YYYY'
   },
   function (start, end, label) {
       $('#txtFechaConexion').val(end.format('DD/MM/YYYY'));
   });
</script>
