<div  class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form name="frmVehiculo" id="frmVehiculo" novalidate>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtPlaca">Placa *</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-list"></i></div>
                                <input type="text" class="form-control" ng-model="Vehiculo.Placa" id="txtPlaca"  placeholder="Placa del Vehículo">                
                            </div>                                                        
                        </div>
                    </div>
                    
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="txtModelo">Modelo *</label>
                            <input type="text" class="form-control" ng-model="Vehiculo.vhModelo" id="txtModelo" placeholder="Modelo">
                        </div>
                    </div>
                    
                </div>
                
                
            </form>
        </div>
    </div>
</div>
