<style>
    body{
        background-color: #edf1f2
    }
</style>
<div ng-controller="cambiarClaveController" class="container-fluid">
    <div  class="row">
        <div  class="header"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <div class="titulo">                            
                            <img src="../trl/images/logo.png" class="animated slideInLeft"  alt="logo"/> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
         <div class="row" >              
            <div  class=" col-md-10 col-xs-12 pages">                                   
                <div class="col-md-4 col-md-offset-5 col-xs-10 col-xs-offset-1">                     
                    <div class="well page animated slideInDown" >    
                         <h2 class="text-primary  text-center "><strong>Cambiar Contraseña</strong></h2><br/> 
                        <form name="frmCambiar" novalidate autocomplete="off" ng-show="editMode">
                             
                            <div class="form-group">
                                <label for="txtClave1">Nueva contraseña *</label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    <input ng-model="User.clave" class="form-control" placeholder="Nueva Contraseña *"  type="password" name="txtClave1"  maxlength="15" required ng-pattern="/(?=^.{5,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/">
                                 </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="txtClave1">Confirmar contraseña *</label>
                                 <div class="input-group">    
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    <input ng-model="User.claveConf" class="form-control"  type="password" name="txtClave2" placeholder="Confirmar Contraseña"  maxlength="15" required ng-pattern="/(?=^.{5,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/" >
                                 </div>
                            </div>
                            
                            <div class="form-group">
                                <button ng-disabled="frmCambiar.$invalid"   class="btn btn-primary btn-block btn-addon"   type="button"  title="Registrar Cliente" ng-click="Guardar()"> <i class="fa fa-send"></i>Guardar</button>
                            </div>
                        </form>
                        
                        <div class="text-center" ng-show="Cargando"><i class="fa fa-spinner fa-pulse fa-fw fa-3x text-primary"></i></div>
                                                
                        <div class="col-md-12 col-xs-12" ng-show="editMode">
                            <p><strong> INTRUCCIONES</strong></p>
                                <h5>1.Ingrese una nueva contraseña </h5>
                                <h5>2.Confirme la  nueva contraseña </h5>
                                <h5>3.Se le enviará un correo electronico, notificandole el estado de este Proceso</h5>                                         
                                <h6><strong>Nota:</strong> Recuerde que la contraseña debe tener caracteres alfanumerios [A-Z] [0-9]</h6>
                        </div>
                        <div class="text-center" <h5>{{msjError}}</h5></div>                                              
                        <p ng-hide="editMode" class="text-danger text-center" id="error" style="font-size: 18px; margin-top: 5px;">{{msjKey}}</p>
                    </div>
                </div>
            </div>
         </div>    
    </div>
</div>