<!--
    CONFIRMAR EMAIL
-->
<div ng-controller="ConfirmarController" class="row">
    <div class="decoration-head"></div>
    <div class="resplandor"></div>
    <div id="logo" class="animated bounceIn"></div>
    <div id="contenedor-login" class="animated bounceInLeft">                    
        <table width="100%" align="center">
            <tr>
                <td></td>
            </tr>
            <tr>
                 <h2>Confirmación de Cliente</h2>
                    <hr>
                    <br/>

            </tr>

            <tr>
            <h3 style="font-family: 'roboto',tahoma; color: #FFFFFF;">Estamos Procesando Su Solicitud, Espere.....</h3>
            </tr>

            <tr>
                <td><div class="error"  style="font-size: 20px; margin-top: 15px;">{{msjError}}</div></td>
            </tr>                
        </table>        
    </div>    
</div>
