<style>
    body{
        background-color: #edf1f2
    }
</style>

<div ng-controller="ConfirmarController" class="container-fluid" >
   
    <div  class="row">
        <div  class="header"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <div class="titulo">                            
                            <img src="../trl/images/logo.png" class="animated slideInLeft"  alt="logo"/> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="row" >              
                <div  class=" col-md-10 col-xs-12 pages">                                   
                    <div class="col-md-4 col-md-offset-5 col-xs-10 col-xs-offset-1">                         
                        <div class="well page animated slideInDown" >               

                            <h2 class="text-primary  text-center espacio"><strong>Confirmación de Usuario</strong></h2><br/>                         
                            <div class="pageicon"><span class="fa {{msjIcono}} "></span></div>                                                 
                            <div class="row espacio" >          
                                <div class="col-md-10 text-center col-md-offset-1">                          

                                    <h5>{{msjError}}</h5>
                                    <br/> <br/><br/> 
                                </div>                            
                           
                        </div>
                    </div>
                </div>                                    
            </div>   <!-- div pages-->              
        </div>  <!-- div row-->                                 
    </div>
    
</div>
