 <style>
                  
    @media (max-width:480px){
        .pageicon {                    
            font-size: 45px;
            margin-top: 2px;                    
            width: 70px;                
        }
        .espacio{
            margin-top: 5px;
        }

        .titulo{                           
            text-align: center;
            height: 50px;
            font-size: 24px;
            font-weight: 700;
            margin-top: 10px;
        }
        .titulo img{
             display: none;
        }
    }


</style>

<div ng-controller="sesionController" class="container-fluid">
    <div  class="row">
        <div  class="header"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <div class="titulo">
                            <label class="visible-xs hidden-sm" >Transporte Ruta libre</label>
                            <img src="../trl/images/logo.png" class="animated slideInLeft"  alt="logo"/> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
            <div class="row">               
                <div  class=" col-md-10 col-xs-12 pages">                                   
                    <div class="col-md-4 col-md-offset-5 col-xs-10 col-xs-offset-1">                         
                        <div class="well page animated slideInDown" >               

                            <h2 class="text-primary  text-center espacio"><strong>Inicio de Sesión</strong></h2><br/>                         
                            <div class="pageicon"><span class="fa fa-user "></span></div>                                                 

                            <div class="row espacio" >                          
                            <div class="col-md-10 col-md-offset-1">                          

                            <form class="form-horizontal"  name="frmLogin" id="frmLogin">                                                                                   

                                <div class="form-group">
                                    <div class="col-md-12">                                      
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-user-secret"></i></div>
                                            <input type="text" class="form-control" ng-model="Usuario.Login" maxlength="45" id="txtUsuario" placeholder="Nombre de Usuario" required>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">                                        
                                    <div class="col-md-12">    
                                        <div class="input-group">    
                                            <div class="input-group-addon"><i class="fa fa-key"></i></div>
                                            <!--ng-pattern="/(?=^.{6,}$)(?=.*\d)(?![.\n])(?=.*[a-zA-Z]).*$/" -->
                                            <input type="password" class="form-control" id="txtClave" name="txtClave" ng-model="Usuario.Clave"  placeholder="Contraseña" required >
                                        </div>
                                    </div>
                                </div>   
                                <br/>
                                <div class="row">                                
                                    <div class="col-xs-12">
                                        <button type="button" ng-disabled="frmLogin.$invalid" class="btn btn-primary btn-block btn-addon"  ng-click="Iniciar()" ><i class="fa fa-check"></i>Iniciar sesión</button>
                                    </div> 
                                </div>  
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <br/>
                                        <a href="#/recuperar" ><i class="fa fa-share"></i> ¿ Olvidó su contaseña ?</a>
                                    </div>
                                </div>
                                    
                                
                                
                                
                                
                            </form>                            
                            </div>                            
                        </div>
                    </div>
                </div>                                    
            </div>   <!-- div pages-->              
        </div>  <!-- div row-->                                 
    </div>
</div> <!-- div Container-fluid-->  