<!--
/* 
    Created on : 26-dic-2015, 22:14:16
    Author     : andyyairb@gmail.com
*/
-->
  <div ng-controller="recordarClaveController" class="row">
        <div class="decoration-head"></div>
        <div class="resplandor"></div>
          <div id="logo" class="animated bounceIn"></div>
        <div id="contenedor-login" class="animated  bounceIn ">
            <form name="frmRecuperar" novalidate>
            <table width="100%" align="center">
                <tr>
                    <td></td>
                </tr>    
                    <tr>
                        <td><input type="email" class="box-text email" name="txtCorreo" id="txtCorreo" placeholder="Email" ng-model="Cliente.email" required ng-pattern="/^([\da-zA-Z_\.-]+)@([\da-zA-Z\.-]+)\.([a-zA-Z\.]{2,6})$/">
                            <div class="error" ng-show="frmRecuperar.txtCorreo.$dirty && frmRecuperar.txtCorreo.$invalid">
                               <small  ng-show="frmRecuperar.txtCorreo.$error.required">Email es Requerido</small>
                               <small  ng-show="frmRecuperar.txtCorreo.$error.pattern">Email No Valido</small>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><div class="error"  style="font-size: 16px; margin-top: 5px;">{{msjError}}</div></td>
                    </tr>

                    
                    <tr>
                        <td><button ng-disabled="frmCliente.$invalid" class="btn-iniciar z-depth-1" ng-click="recuperar()">RECORDAR</button></td>                     
                    </tr>
                    <tr>
                        <td>
                            <br/>
                            <br/>
                            <p class="notas">1. Ingrese su Dirección de Correo Electronico &nbsp;&nbsp;&nbsp;
                            2. Se le enviará un Email, con un enlace para cambiar su Contraseña <br/>
                            3. Tendra 10 Minutos para cambiar su Contraseña. <br/>
                                Nota: El correo debe coincidir, al que utilizo en su registro.</p>
                        </td>
                        
                    </tr>
                                     
                </table>  
            </form>
        </div> 
          <a href="#/login/cliente" class="btn-floating btn-large z-depth-1"><i class="material-icons">reply</i></a>
  </div>
	