<div ng-controller="historialController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">            
            <div class="row">                
                <div class="col-md-6">
                    <label>Filtro </label>
                    <div class="input-group">
                         <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                         <input  class="form-control" id="search" type="search" placeholder="Buscar Servicio" ng-model="TablaServicio.filter()['busqueda']">
                    </div>
                </div>
                
                <div class="col-md-2">     
                    <label>Fecha de Inicio *</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-minus-o"></i></div>
                        <input type="text" id="txtFechaInicio" ng-model="Busqueda.FechaInicio" name="txtFechaInicio" class="form-control" value="" ng-change="CambiarFormato('FechaInicio')" title="Fecha Inicio" readonly="" >
                    </div>                                                        
                </div>
                
                <div class="col-md-2">    
                    <label>Fecha Fin *</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-plus-o"></i></div>
                        <input type="text" id="txtFechaFin" ng-model="Busqueda.FechaFin" name="txtFechaFin" class="form-control" value="" ng-change="CambiarFormato('FechaFin')" title="Fecha Final" readonly="" >
                    </div>                                                        
                </div>
                                                                                       
                <div class="col-md-2 " >
                    <button type="button" style="margin-top: 22px;" class="btn btn-success btn-addon" ng-click="GetServicios()" ><i class="fa fa-refresh"></i> Actualizar</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-striped table-condensed" ng-table="TablaServicio"  style="margin-top: 15px;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CONTRATO</th>
                                <th>RESPONSABLE</th>
                                <th>TELEFONO</th>                                            
                                <th>T.SERVICIO</th>
                                <th>T.VEHICULO</th>
                                <th>$ PRECIO</th>
                                <th>FECHA</th>
                                <th>HORA</th>
                                <th>ESTADO</th>
                               
                            </tr>
                        </thead>

                        <tbody>
                             <tr ng-repeat="item in $data" >
                                 <td>{{ item.IdServicio}}</td>
                                 <td>{{ item.NumeroContrato }}</td>
                                 <td>{{ item.Responsable}}</td>
                                 <td >{{ item.Telefono }}</td>
                                 <td>{{ item.svDescripcion}}</td>
                                 <td>{{ item.DescVehiculo}}</td>                                     
                                 <td >{{ item.ValorTotal | currency : "$" : 0}}</td>  
                                 <td>{{ item.FechaServicio | date : 'dd/MM/yyyy' }}</td>
                                <td>{{ item.Hora}}</td>                                     
                                <td>{{  item.Estado  }}</td>                                
                             </tr>
                        </tbody>
                     </table>                   
                </div>                                        
            </div>            
        </div> 
    </div>
</div>

<script type="text/javascript">
    
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        
        $('input[name="txtFechaInicio"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true           
        }, 
        function(start, end, label) {
            $('#txtFechaInicio').val(end.format('DD/MM/YYYY'));         
        });
        
        $('input[name="txtFechaFin"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true           
        }, 
        function(start, end, label) {
            $('#txtFechaFin').val(end.format('DD/MM/YYYY'));         
        });
    });
        
        
    
</script>


