<div ng-controller="servicioController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">  
            
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified" id="tabPanels">                    
                    <li class="active"><a href="#tabListado" data-toggle="tab">Listado de Servicios </a></li>
                    <li ><a href="#tabRealizar" class="hidden" id="liServicio" data-toggle="tab">Realizar Servicio</a></li>
                </ul>
            </div>
            
            <div class="tab-content">
                <div class="tab-pane active" id="tabListado">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                 <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                                 <input  class="form-control" id="search" type="search" placeholder="Buscar Servicio" ng-model="TablaServicio.filter()['busqueda']">
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top: 5px;">
                             <label class="text-center text-primary" style="font-size: 18px;">Total: {{Servicios.length}}</label>
                         </div>

                        <div class="col-md-2 col-md-offset-1">
                            <button type="button" class="btn btn-success btn-addon" ng-click="GetServiciosConductor()" ><i class="fa fa-refresh"></i> Actualizar</button>
                        </div>
                    </div>
                    
                     <div class="row">
                    <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table  table-striped table-condensed table-responsive" ng-table="TablaServicio"  style="margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CONTRATO</th>
                                    <th>RESPONSABLE</th>
                                    <th>TELEFONO</th>                                            
                                    <th>T.SERVICIO</th>
                                    <th>T.VEHICULO</th>
                                    <th>$ PRECIO</th>
                                    <th>FECHA</th>
                                    <th>HORA</th>
                                    <th>ESTADO</th>
                                    <th width="9%">ACCION</th>
                                </tr>
                            </thead>

                            <tbody>
                                 <tr ng-repeat="item in $data" ng-class="{'info': item.Estado == 'CONFIRMADO', 'warning':  item.Estado == 'ASIGNADO' , 'success':  item.Estado != 'SOLICITADO' || item.Estado != 'ASIGNADO'  }">
                                     <td>{{ item.IdServicio}}</td>
                                     <td>{{ item.NumeroContrato }}</td>
                                     <td>{{ item.Responsable}}</td>
                                     <td >{{ item.Telefono }}</td>
                                     <td>{{ item.svDescripcion}}</td>
                                     <td>{{ item.DescVehiculo}}</td>                                     
                                     <td >{{ item.ValorTotal | currency : "$" : 0}}</td>  
                                     <td>{{ item.FechaServicio}}</td>
                                    <td>{{ item.Hora}}</td>                                     
                                    <td>{{ item.Estado}}</td>
                                    <td>
                                         <center>
                                             
                                            <div ng-switch="item.Estado">
                                                <a ng-switch-when="ASIGNADO" ng-click="RealizarServicio(item)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Detalle del Servicio"><i class="fa fa-search fa-1x text-info"></i></a>
                                                <a ng-switch-when="ASIGNADO" ng-click="CambiarEstado(item,'CONFIRMADO', 'SI')" style="float: left; margin-left: 3px;" href="javascript:;"  title="Confirmar"><i class="fa fa-check fa-1x text-success"></i></a>                                                
                                                <a ng-switch-default ng-click="RealizarServicio(item)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Realizar Servicio"><i class="fa fa-road fa-1x text-success"></i></a> 
                                            </div>
                                             
                                            <div ng-switch="item.Estado">
                                                <a  ng-switch-when="ASIGNADO" ng-click="RechazarServicio(item.IdServicio)"  style="float: left; margin-left: 7px;" href="javascript:;"  title="Cancelar"><i class="fa fa-times fa-1x text-danger"></i></a>
                                                <a  ng-switch-default ng-click="VerCancelar(item)"  style="float: left; margin-left: 7px;" href="javascript:;"  title="Cancelar"><i class="fa fa-times fa-1x text-danger"></i></a>                                                
                                            </div>                                                                                                                                                                                          
                                         </center>
                                     </td>
                                 </tr>
                        </tbody>
                    </table>                   
                    </div>                                        
                    </div>                    
                </div>
                
                <div class="tab-pane" id="tabRealizar">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Datos del Servicio</h3>
                            </div>

                                <div class="panel-body" style="padding: 10px 0 7px 0">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtServiceId" >N° Servicio </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.IdServicio" maxlength="11"  id="txtServiceId" placeholder="N° Servicio" disabled >                                            
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtCto" >Contrato </label>                                                                                            
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.NumeroContrato" maxlength="11"  id="txtCto" placeholder="N° Contrato" readonly="" >

                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtCto" >Fecha Servicio </label>                                                                                            
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.FechaServicio" maxlength="11"  id="txtCto"  readonly="" >

                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtCto" >Hora Servicio </label>                                                                                            
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.Hora" maxlength="11"  id="txtCto"  readonly="" >

                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label  for="txtRespon" >Responsable Servicio </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.Responsable" maxlength="11"  id="txtRespon" placeholder="Responsable Servcio" disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >Telefono </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.Telefono" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label  for="txttel" >Dirección Origen </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.DireccionOrigen" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label  for="txttel" >Dirección Destino </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.DireccionDestino" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >N° Pasajeros </label>                                                                                        
                                    <input  type="text" class="form-control text-danger" required="" ng-model="ServicioDto.NumPasajeros" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >Valor servicio </label>                                                                                        
                                    <input  type="text" class="form-control text-danger" required="" ng-model="ServicioDto.ValorTotal" maxlength="11"  id="txttel"  disabled awnum="" num-sep="," num-int="14" num-fract="0" num-pos="true" num-thousand="true" >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >Forma Pago </label>                                                                                        
                                    <input  type="text" class="form-control text-danger" required="" ng-model="ServicioDto.FormaPago" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4 hidden-xs">
                                    <div class="text-center">
                                        <label style="margin-top: 16%;" class="text-center">Estado actual -></label>
                                    </div> 
                                </div>
                                <div class="col-md-8 col-md-offset-0 col-xs-8 col-xs-offset-2">
                                    <h3 class="text-success">{{ValBoton.EstAnterior}}</h3>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="row" style="margin-top: -5px;" ng-show="ServicioDto.Estado != 'ASIGNADO'">
                                <div class="col-md-5 col-xs-8 col-xs-offset-2 text-center">
                                    <div class="text-center">
                                        <button type="button" class="btn  btn-addon btn-block  {{ValBoton.Color}}" ng-click="ActualizarServicio()" title="{{ValBoton.EstSiguiente}}"><i class="fa fa-check"></i> {{ValBoton.EstSiguiente}}</button>                                        
                                    </div>  
                                    <br>
                                </div>
                                
                                <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 text-center">
                                    <div class="text-center">
                                        <button class="btn btn-danger btn-addon btn-block" type="button" ng-click="VerCancelar(ServicioDto)"><i class="fa fa-ban"></i>  Cancelar</button>
                                    </div>                                    
                                </div>
                                
                            </div>
                            
                            <div class="row" ng-show="ServicioDto.Estado == 'ASIGNADO'">
                                <div class="col-md-4 col-md-offset-3 col-xs-8 col-xs-offset-2 text-center">
                                    <div class="text-center">
                                        <button class="btn btn-success btn-addon btn-block" type="button" ng-click="CambiarEstado(ServicioDto, 'CONFIRMADO', 'SI')"><i class="fa fa-ban"></i> Confirmar</button>
                                    </div>                                    
                                </div>
                            </div>
                                
                                
                            </div> 
                            </div>                            
                        </div>
                        
                        <div class="col-md-6">
                            <div id="dvMapaServicio" class="hidden" style="width: 100%; height: 440px; margin-top: 10px;">

                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>                                                          
        </div> 
    </div> 
    
    <div id="modalMotivo" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 10%;">
        <div class="modal-dialog modal-sm" style="width: 40%" >
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Seleccione Motivo de Cancelación</div>
            </div>            
            
            <div class="modal-body">                                                       
                <div class="row">                            
                    <div class="col-md-9 col-md-offset-1">
                        <div class="row">
                            <div ng-repeat="mt in Motivos">
                                <div class="col-md-12 radio radio-danger">
                                    <input name="rbMotivos" type="radio" ng-model="MotivoSel" id="rMv{{mt.IdMotivo}}"  ng-change="Ver(mt.IdMotivo)" ng-value="mt" >
                                    <label for="rMv{{mt.IdMotivo}}" style="font-size: 16px;">{{mt.mtDescripcion}} </label>
                                </div>
                            </div>                               
                        </div>                               
                    </div>
                </div>                                         
            </div>    
            
            <div class="modal-footer">                             
                <button type="button" class="btn btn-danger btn-addon" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
                <button type="button" class="btn btn-primary btn-addon" ng-click="CancelarServicio()" ><i class="fa fa-check"></i> Aceptar</button>
            </div> 
            
        </div>                    
        </div>     
    </div>        
</div>

<script type="text/javascript">
    $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');        
    });
</script>


