<div ng-controller="servicioController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">  
            
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified" id="tabPanels">                    
                    <li class="active"><a href="#tabListado" data-toggle="tab">Listado de Servicios </a></li>
                    <li ><a href="#tabRealizar" class="hidden" id="liServicio" data-toggle="tab">Realizar Servicio</a></li>
                </ul>
            </div>
            
            <div class="tab-content">
                <div class="tab-pane active" id="tabListado">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                 <div class="input-group-addon"><i class="fa  fa-search text-primary"></i></div>
                                 <input  class="form-control" id="search" type="search" placeholder="Buscar Servicio" ng-model="TablaServicio.filter()['busqueda']">
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top: 5px;">
                             <label class="text-center text-primary" style="font-size: 18px;">Total: {{Servicios.length}}</label>
                         </div>

                        <div class="col-md-2 col-md-offset-1">
                            <button type="button" class="btn btn-success btn-addon" ng-click="GetServiciosConductor()" ><i class="fa fa-refresh"></i> Actualizar</button>
                        </div>
                    </div>
                    
                     <div class="row">
                    <div class="col-md-12" style="margin-top: 10px;">
                    <table class="table table-striped table-condensed" ng-table="TablaServicio"  style="margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CONTRATO</th>
                                    <th>RESPONSABLE</th>
                                    <th>TELEFONO</th>                                            
                                    <th>T.SERVICIO</th>
                                    <th>T.VEHICULO</th>
                                    <th>$ PRECIO</th>
                                    <th>FECHA</th>
                                    <th>HORA</th>
                                    <th>ESTADO</th>
                                    <th width="6%">ACCION</th>
                                </tr>
                            </thead>

                            <tbody>
                                 <tr ng-repeat="item in $data" ng-class="{'info': item.Estado == 'CONFIRMADO', 'warning':  item.Estado == 'ASIGNADO' , 'success':  item.Estado != 'SOLICITADO' || item.Estado != 'ASIGNADO'  }">
                                     <td>{{ item.IdServicio}}</td>
                                     <td>{{ item.NumeroContrato }}</td>
                                     <td>{{ item.Responsable}}</td>
                                     <td >{{ item.Telefono }}</td>
                                     <td>{{ item.svDescripcion}}</td>
                                     <td>{{ item.DescVehiculo}}</td>                                     
                                     <td >{{ item.ValorTotal | currency : "$" : 0}}</td>  
                                     <td>{{ item.FechaServicio}}</td>
                                    <td>{{ item.Hora}}</td>                                     
                                    <td>{{ item.Estado}}</td>
                                    <td>
                                         <center>
                                             
                                            <div ng-switch="item.Estado">
                                                <a ng-switch-when="ASIGNADO" ng-click="CambiarEstado(item,'CONFIRMADO', 'SI')" style="float: left; margin-left: 3px;" href="javascript:;"  title="Confirmar"><i class="fa fa-check fa-1x text-success"></i></a>
                                                <a ng-switch-when="CONFIRMADO" ng-click="RealizarServicio(item)" style="float: left; margin-left: 3px;" href="javascript:;"  title="Realizar Servicio"><i class="fa fa-road fa-1x text-success"></i></a> 
                                            </div>
                                             
                                                
                                                <a ng-click=""  style="float: left; margin-left: 7px;" href="javascript:;"  title="Cancelar"><i class="fa fa-times fa-1x text-danger"></i></a>                                             
                                         </center>
                                     </td>
                                 </tr>
                        </tbody>
                    </table>                   
                    </div>                                        
                    </div>                    
                </div>
                
                <div class="tab-pane" id="tabRealizar">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Datos del Servicio</h3>
                            </div>

                                <div class="panel-body" style="padding: 10px 0 7px 0">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtServiceId" >N° Servicio </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.IdServicio" maxlength="11"  id="txtServiceId" placeholder="N° Servicio" disabled >                                            
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtCto" >Contrato </label>                                                                                            
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.NumeroContrato" maxlength="11"  id="txtCto" placeholder="N° Contrato" readonly="" >

                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtCto" >Fecha Servicio </label>                                                                                            
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.FechaServicio" maxlength="11"  id="txtCto"  readonly="" >

                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="txtCto" >Hora Servicio </label>                                                                                            
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.Hora" maxlength="11"  id="txtCto"  readonly="" >

                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label  for="txtRespon" >Responsable Servicio </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.Responsable" maxlength="11"  id="txtRespon" placeholder="Responsable Servcio" disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >Telefono </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.Telefono" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label  for="txttel" >Dirección Origen </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.DireccionOrigen" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label  for="txttel" >Dirección Destino </label>                                                                                        
                                    <input  type="text" class="form-control" required="" ng-model="ServicioDto.DireccionDestino" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >N° Pasajeros </label>                                                                                        
                                    <input  type="text" class="form-control text-danger" required="" ng-model="ServicioDto.NumPasajeros" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >Valor servicio </label>                                                                                        
                                    <input  type="text" class="form-control text-danger" required="" ng-model="ServicioDto.ValorTotal" maxlength="11"  id="txttel"  disabled awnum="" num-sep="," num-int="14" num-fract="0" num-pos="true" num-thousand="true" >                                          
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label  for="txttel" >Forma Pago </label>                                                                                        
                                    <input  type="text" class="form-control text-danger" required="" ng-model="ServicioDto.FormaPago" maxlength="11"  id="txttel"  disabled >                                          
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <label style="margin-top: 16%;" class="text-center">Estado actual -></label>
                                    </div> 
                                </div>
                                <div class="col-md-8">
                                    <h3 class="text-success">{{ServicioDto.Estado}}</h3>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="row" style="margin-top: -5px;">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                    <div class="text-center">
                                        <button class="btn btn-success">Iniciar Servicio</button>
                                    </div>                                    
                                </div>
                            </div>
                                
                                
                            </div> 
                            </div>                            
                        </div>
                        
                        <div class="col-md-6">
                            <div id="dvMapaServicio" class="hidden" style="width: 100%; height: 440px; margin-top: 10px;">

                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>                                                          
        </div> 
    </div> 
    
    <div id="modalMotivo" class="modal modal-fixed-footer">            
        <div class="modal-content">
            <h2>Seleccione Motivo de Cancelación</h2>
            <div class="row">
                <form name="frmCancelar" class="col s12" novalidate>                        
                    <div class="row">                            
                        <div class="col m9">
                            <div class="row">
                                <div data-ng-repeat="items in Motivos">                                    
                                    <input name="rbMotivo"  type="radio"  id="rbMv{{items.idCancelar}}" value="{{items.idCancelar}}" ng-model="Servicio.motivo"/>
                                    <label for="rbMv{{items.idCancelar}}" class="black-text" style="font-size: 16px;">{{items.motivo}} </label> <br/>
                                </div>                               
                            </div>                               
                        </div>
                    </div>              
                </form>
            </div>
        </div>            
        <div class="modal-footer">                             
            <button class="btn waves-effect waves-light green" type="button" ng-click="cancelar()" >Continuar</button>
            <a href="javascript:;" class="modal-action modal-close waves-effect waves-light btn red" style="margin-right: 10px;">Salir</a> 
       </div>            
    </div>        
</div>

<script type="text/javascript">
    $('#tabPanels a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        
    });
</script>


