.form-control{    
    border-color: #E9EBEC;
    box-shadow: none;
}

.form-control:focus{
    box-shadow: none;
}

.btn-danger:focus{
    background-color: #f3565d;
    border: 1px solid #761c19;
}

.fa-1x{
    font-size: 1.35em;
}





